.contenedor {
	background: black;
	margin-top: 95px;
	padding-top: 2%;
	font-family: 'Fjalla One', sans-serif;
}
/* UNO */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.contenedor {
		margin-top: 140px;
	}
}