<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<p:dialog widgetVar="dialogoActualizar" header="Actualizar Cargo"
		id="ActualizarCargo" modal="true" resizable="false" hideEffect="clip"
		showEffect="Bounce" class="box box-danger box-solid" draggable="false"
		responsive="true" style="font-family: 'Fjalla One', sans-serif; ">
		<h:form>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="c" value="Nombre"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="c" value="#{cargoBean.carA.nombre}" maxlength="25" />
				<p:commandButton value="Actualizar"
					actionListener="#{cargoBean.actualizar()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-refresh" class="btn btn-danger btn-flat form-control"
					update=":ta:tc,reg" oncomplete="PF('dialogoActualizar').hide();"
					onclick="setTimeout(function() { $('#reg').hide(1000); }, 3000);" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
</ui:composition>
</html>