<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<!-- DIALOGO ****************************************** -->

	<p:dialog widgetVar="dialogoCargo" id="cargo"
		header="Detalles - Cargos" modal="true" width="100%" height="450"
		resizable="false" draggable="false" hideEffect="clip"
		showEffect="Bounce" class="box box-primary box-solid"
		responsive="true" style="font-family: 'Fjalla One', sans-serif; ">

		<div style="padding-top: 20px;" class="col-md-12 ">
		<p style="font-size: 23px;">
		<b>REGISTRO </b> de Cargos
		</p>
		</div>
		<div class="panelbody">

		<h:form id="c">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12,ui-grid-col-12">

				<p:inputText id="a" value="#{cargoBean.carR.nombre}"
					placeholder="Ingres el Nombre del Cargo"
					style="font-family:sans-serif;" />
				<p:commandButton value="Registrar el Nuevo Cargo" id="registrar"
					class="btn btn-flat btn-primary "
					actionListener="#{cargoBean.registrar()}" update=":ta:tc,c,reg"
					style="border:none;font-family: 'Oswald', sans-serif;"
					onclick="setTimeout(function() { $('#reg').hide(1000); }, 3000);" />
			</p:panelGrid>


		</h:form>
		<!-- 	<div><p:messages autoUpdate="false" id="registrar" closable="true"  escape="true" style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none"/></div> -->
		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="reg" closable="true" escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<h:form id="ta">

			<div class="col-md-12 widget">

			<div align="center" style="margin-top: 25px;">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Lista
			de Detalles - Cargos</p>
			</div>

			<p:dataTable id="tc" value="#{cargoBean.listaCargo}" var="car"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Nombre">


					<p:outputLabel value=" #{car.nombre}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>
				<p:column rendered="#{cargoBean.accion}" width="5%">
					<p:commandLink oncomplete="PF('dialogoActualizar').show();"
						title="Actualizar Cargo" class="btn btn-flat btn-xs btn-danger"
						style="border:none;font-family: 'Oswald', sans-serif; text-decoration:none;"
						actionListener="#{cargoBean.seleccionarCargo(car)}"
						update="ActualizarCargo">
						<span><i class="fa fa-pencil"></i></span>
					</p:commandLink>
				</p:column>


			</p:dataTable>
			</div>
		</h:form>
		</div>

	</p:dialog>
	<!-- /FIN -->
</ui:composition>
</html>