
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op9").style.color='#00C0EF';
		}
</script>

		<div style="padding-top: 20px;">
			<div class="col-md-12">
				<p style="font-size: 23px;">
					<b>BUSQUEDA DE SERVICIO</b> - Clientes
				</p>
			</div>
		</div>
		<div class="panelbody">
			<h:form id="c">

				<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
					columns="3"
					columnClasses="ui-grid-col-3,ui-grid-col-5,ui-grid-col-1">

					<label />
					<p:column>

						<p:autoComplete id="cli" value="#{servicioBean.cli}"
							completeMethod="#{clienteBean.listaBuscar}" var="cli"
							itemLabel="#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} / #{cli.dni}"
							itemValue="#{cli}" converter="clienteConverter"
							placeholder="Buscar cliente 'nombre' " onclick="this.value=''"
							dropdown="true">
							<p:column style="width:40%">
				#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} / #{cli.dni}
				</p:column>
						</p:autoComplete>
					</p:column>

					<p:commandButton actionListener="#{servicioBean.listarCS()}"
						update=":t:tc" class="btn btn-info btn-flat form-control"
						style="borde:none;" icon="fa fa-search" />

				</p:panelGrid>

			</h:form>

			<h:form id="t">
				<div class="col-md-12 ">
					<p:messages autoUpdate="true" id="messages" closable="true"
						escape="true"
						style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
				</div>

				<div class="col-md-12 widget">

					<p:dataTable id="tc" value="#{servicioBean.listaSer}" var="des"
						style="font-size: 13px;padding-top :15px;" paginator="true"
						paginatorPosition="top" rows="8" widgetVar="pr"
						rowsPerPageTemplate="2,8,10,15" reflow="true">
						<p:column headerText="Cliente">
							<p:outputLabel
								value="#{des.tblCliente.nombres} #{des.tblCliente.apellidoPaterno} #{des.tblCliente.apellidoMaterno}"
								style="font-family: 'Anaheim', sans-serif;" />
						</p:column>

						<p:column headerText="DNI">
							<p:outputLabel value="#{des.tblCliente.dni}"
								style="font-family: 'Anaheim', sans-serif;" />
						</p:column>

						<p:column headerText="Vendedor">
							<p:outputLabel
								value="#{des.tblEmpleado.tblDatos.nombres} #{des.tblEmpleado.tblDatos.apellidoPaterno} #{des.tblEmpleado.tblDatos.apellidoMaterno}"
								style="font-family: 'Anaheim', sans-serif;" />
						</p:column>

						<p:column headerText="Total Compra S/.">
							<p:outputLabel value="#{des.total}"
								style="font-family: 'Anaheim', sans-serif;" />
						</p:column>

						<p:column headerText="Fecha Venta">
							<h:outputText value="#{des.fechaRegistro}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"
									timeZone="#{servicioBean.timeZone}"
									style="font-family: 'Anaheim', sans-serif;"></f:convertDateTime>
							</h:outputText>
						</p:column>

						<p:column headerText="Servicios">
							<p:commandLink oncomplete="PF('productos').show();"
								title="Información Servicio"
								style="borde: none;  text-decoration: none; "
								actionListener="#{servicioBean.selec(des.tblDetalleServicio)}"
								update=":pro:tblPro" class="btn btn-info btn-xs">
								<span><i class="fa  fa-exclamation-circle"></i></span>
							</p:commandLink>
						</p:column>
					</p:dataTable>
				</div>
			</h:form>

		</div>
		<!-- DIALOGO DETALLE DE PRODUCTO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/Servicio/BuscarServicio.xhtml" />
		</ui:insert>
		<!-- /FIN -->

	</ui:define>
</ui:composition>
