
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">


		<!-- 	DIALOGO LISTAR O REGISTRAR ************************************************************************ -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/cargo/cargoONE.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- 	DIALOGO ACTUALIZAR ************************************************************************ -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/cargo/actualizar.xhtml" />
		</ui:insert>
		<!-- /FIN -->
	</ui:define>

</ui:composition>
