
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op10").style.color='#00C0EF';
		}
</script>
		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px; font-family: 'Fjalla One', sans-serif;">
		<b>REGISTRO DE LOS</b> Clientes
		</p>
		</div>
		</div>
		<div class="panelbody">

		<h:form id="c">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12" width="100%">

				<p:inputText id="cod" value="#{clienteBean.cliR.codigo}"
					placeholder="Codigo Cliente" style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="5" />

				<p:inputText id="a" value="#{clienteBean.cliR.nombres}"
					placeholder="Nombre Cliente" style="font-family:sans-serif;"
					maxlength="30" />


				<p:inputText id="b" value="#{clienteBean.cliR.apellidoPaterno}"
					placeholder="Apellido Paterno" style="font-family:sans-serif;"
					maxlength="20" />


				<p:inputText id="c" value="#{clienteBean.cliR.apellidoMaterno}"
					placeholder="Apellido Materno" style="font-family:sans-serif;"
					maxlength="20" />


				<p:inputText id="d" value="#{clienteBean.cliR.dni}"
					placeholder="DNI" style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="8" />

				<p:inputText id="pla" value="#{clienteBean.cliR.placa}"
					placeholder="Placa" style="font-family:sans-serif;" maxlength="8" />

				<p:inputText id="r" value="#{clienteBean.cliR.ruc }"
					placeholder="RUC" style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="13" />

				<p:inputText id="ra" value="#{clienteBean.cliR.razonSocial}"
					placeholder="Razon Social" style="font-family:sans-serif;"
					maxlength="60" />

				<p:inputText id="co" value="#{clienteBean.cliR.correo}"
					placeholder="Correo-@" style="font-family:sans-serif;"
					maxlength="40" />

				<p:commandButton value="Registrar el Cliente"
					actionListener="#{clienteBean.registrar()}"
					icon="fa  fa-street-view" update=":t:tc,c,mes"
					class="btn btn-flat btn-primary form-control"
					style="border:none;font-family: 'Oswald', sans-serif;" />

			</p:panelGrid>

		</h:form>

		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="mes" closable="true" escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<h:form id="t">

			<div class="col-md-12 widget">

			<p:dataTable id="tc" value="#{clienteBean.listaCliente}" var="clie"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="10" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Codigo">
					<p:outputLabel value="#{clie.codigo}" />
				</p:column>

				<p:column headerText="Cliente">
					<p:outputLabel
						value="#{clie.nombres} #{clie.apellidoPaterno} #{clie.apellidoMaterno}" />
				</p:column>

				<p:column headerText="DNI">
					<p:outputLabel value="#{clie.dni}" />
				</p:column>
				<p:column headerText="Placa">
					<p:outputLabel value="#{clie.placa}" />
				</p:column>

				<p:column headerText="RUC">
					<p:outputLabel value="#{clie.ruc}" />
				</p:column>

				<p:column headerText="Razon Social">
					<p:outputLabel value="#{clie.razonSocial}" />
				</p:column>

				<p:column headerText="Correo">
					<p:outputLabel value="#{clie.correo}" />
				</p:column>

				<p:column rendered="#{clienteBean.accion}" headerText="Actualizar"
					width="14%">
					<p:commandLink oncomplete="PF('dialogoActualizar').show();"
						title="Actualizar Datos del Clientes"
						actionListener="#{clienteBean.seleccionarCliente(clie)}"
						update="actualizarCli" class="btn  btn-xs btn-danger">
						<span><i class="fa fa-pencil"></i></span>
					</p:commandLink>
				</p:column>
			</p:dataTable>
			</div>
		</h:form>
		</div>
		<!-- DIALOGO ACTUALIZAR CLIENTE -->

		<ui:insert>
			<ui:include src="/Paginas/dialogs/cliente/actualizarCliente.xhtml" />
		</ui:insert>

	</ui:define>
</ui:composition>
