
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op4").style.color='#00C0EF';
		}
</script>
		<h:outputScript library="js" name="calendar-localization.js" />

		<div style="padding-top: 20px;">
		<div class="col-xs-7 col-sm-4 col-md-6">
		<p style="font-size: 23px;">
		<b>REGISTRO</b> de Empleados
		</p>
		</div>

		<div class="col-xs-5 col-sm-8 col-md-6" align="right"
			style="margin-top: 5px;">
		<p:commandLink
			style="text-decoration:none;border:none;font-family: 'Oswald', sans-serif; font-size:14px;"
			class="btn btn-xs btn-flat btn-primary"
			onclick="PF('dialogoCargo').show()">
			<i class="fa fa-black-tie"></i> Registrar Nuevo Cargo
			</p:commandLink>

		</div>
		</div>
		<div class="panelbody">

		<h:form id="e">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6">

				<p:inputText id="a" value="#{empleadoBean.dat.nombres}"
					placeholder="Nombre del Empleado" style="font-family:sans-serif;"
					maxlength="30" />

				<p:inputText id="b" value="#{empleadoBean.dat.apellidoPaterno}"
					placeholder="Apellido Paterno" style="font-family:sans-serif;"
					maxlength="20" />

				<p:inputText id="c" value="#{empleadoBean.dat.apellidoMaterno}"
					placeholder="Apellido Materno" style="font-family:sans-serif;"
					maxlength="20" />

				<p:inputText id="d" value="#{empleadoBean.empR.dniEmpleado}"
					placeholder="DNI" style="font-family:sans-serif;" maxlength="8"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:inputText id="e" value="#{empleadoBean.ubi.ciudad}"
					placeholder="Ciudad" style="font-family:sans-serif;" maxlength="20" />

				<p:inputText id="f" value="#{empleadoBean.ubi.direccion}"
					placeholder="Dirección" style="font-family:sans-serif;"
					maxlength="35" />

				<p:inputText id="g" value="#{empleadoBean.ubi.referencia}"
					placeholder="Referencia" style="font-family:sans-serif;"
					maxlength="60" />

				<p:inputText id="h" value="#{empleadoBean.com.celular}"
					placeholder="Celular" style="font-family:sans-serif;" maxlength="9"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:inputText id="i" value="#{empleadoBean.com.telefono}"
					placeholder="Telefono" style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="7" />

				<p:inputText id="j" value="#{empleadoBean.com.correo}"
					placeholder="@ E-Mail" style="font-family:sans-serif;"
					maxlength="30" />

				<p:calendar id="fec" value="#{empleadoBean.dat.fechaNacimiento}"
					placeholder="Fecha de Nacimiento" navigator="true" locale="es"
					mode="popup" showOn="button" popupIconOnly="true"
					pattern="dd/MM/yyyy" mindate="#{empleadoBean.getMaxAge()}"
					maxdate="#{empleadoBean.getMinAge() }" readonlyInput="true"
					style="font-family:sans-serif;" />

				<p:column>
					<p:autoComplete id="cat" value="#{empleadoBean.car}"
						completeMethod="#{cargoBean.listaBuscarCar}" var="car"
						itemLabel="#{car.nombre}" itemValue="#{car}"
						converter="cargoConverter" placeholder="Buscar Cargo 'Nombre' "
						onclick="this.value=''" style="font-family:sans-serif;"
						required="true" requiredMessage="Cargo Necesario" dropdown="true">
						<p:column style="width:80%; font-family:sans-serif;">#{car.nombre}</p:column>
					</p:autoComplete>
				</p:column>
				<p:outputLabel />
				<p:commandButton value="Registrar el Empleado"
					actionListener="#{empleadoBean.registrar()}"
					update=":t:te,e,messages" class="btn btn-flat btn-primary"
					style="border:none;font-family: 'Oswald', sans-serif;"
					onclick="setTimeout(function() { $('#messages').hide(1000); }, 7000);" />
			</p:panelGrid>
		</h:form>

		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="messages" closable="true"
			escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<h:form id="t">
			<div class="col-md-12 widget">
			<div align="center" style="margin-top: 25px;">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Listado
			de Los Empleados</p>
			</div>
			<p:dataTable id="te" value="#{empleadoBean.listaEmpleado}" var="empl"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">
				<p:column headerText="Nombres" width="30%">
					<p:outputLabel
						value="#{empl.tblDatos.nombres} #{empl.tblDatos.apellidoPaterno} #{empl.tblDatos.apellidoMaterno}" />
				</p:column>

				<p:column headerText="DNI">
					<p:outputLabel value="#{empl.dniEmpleado}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>


				<p:column headerText="Fecha Nacimiento">
					<p:outputLabel value="#{empl.tblDatos.fechaNacimiento}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column>
					<f:facet name="header">Fecha Registro</f:facet>
					<h:outputText value="#{empl.fechaRegistro}">
						<f:convertDateTime pattern="MM/dd/yyyy -HH:mm:ss"
							timeZone="#{empleadoBean.timeZone}"
							style="font-family: 'Anaheim', sans-serif;" />
					</h:outputText>
				</p:column>

				<p:column headerText="Cargo">
					<p:outputLabel value="#{empl.tblCargo.nombre}" />
				</p:column>

				<p:column headerText="Accesos" width="10%">
					<p:column>
						<p:commandLink title="Informacion Comunicación"
							style="text-decoration:none;border:none;font-family: 'Oswald', sans-serif;"
							class="btn btn-xs btn-flat bg-navy"
							actionListener="#{empleadoBean.seleccionarEmpleado(empl)}"
							oncomplete="PF('dlginfocontacto').show()" update="dlinfo">
							<i class="fa   fa-phone"></i>
						</p:commandLink>
					</p:column>

					<p:column>
						<p:commandLink title="Informacion Ubicación"
							style="text-decoration:none;border:none;font-family: 'Oswald', sans-serif;"
							class="btn btn-xs btn-flat btn-default"
							actionListener="#{empleadoBean.seleccionarEmpleado(empl)}"
							oncomplete="PF('dialogoCOMU').show()" update="DlgCOMU">
							<i class="fa fa-map-o"></i>
						</p:commandLink>
					</p:column>

					<p:column rendered="#{empleadoBean.accion}">
						<p:commandLink oncomplete="PF('dialogoActualizar').show();"
							title="Actualizar Datos del Empleado"
							class="btn btn-flat btn-xs btn-danger"
							style="border:none;font-family: 'Oswald', sans-serif; text-decoration:none;"
							actionListener="#{empleadoBean.seleccionarEmpleado(empl)}"
							update="DlgUpdate">
							<span><i class="fa fa-pencil"></i></span>
						</p:commandLink>
					</p:column>
				</p:column>


			</p:dataTable>
			</div>
		</h:form>
		</div>
		<!-- ******************************* PARA EMPLEADO ************************************************** -->
		<!-- DIALO DE ACTUALIZAR CLIENTE -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/empleado/actualizar.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO DE INFORMACION DE EMPLEADO CONTACTO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/empleado/comunicacion.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO DE UBICACION DEL EMPLEADO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/empleado/ubicacion.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- ******************************* PARA CARGO ************************************************** -->
		<!-- DIALOGO DETALLES/REGISTRAR CARGO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/cargo/cargo.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO ACTUALIZAR CARGO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/cargo/actualizar.xhtml" />
		</ui:insert>
		<p:dialog>

		</p:dialog>
	</ui:define>
</ui:composition>