
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b>REGISTRAR LOS</b> Producto - Entrada
		</p>
		</div>
		</div>
		<div class="panelbody">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op1").style.color='#00C0EF';
		}
</script>

		<!-- TXT DE DEATLLE PRODUCTO -->
		<h:form id="add">

			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="5"
				columnClasses="ui-grid-col-1,ui-grid-col-6,ui-grid-col-1,ui-grid-col-6,ui-grid-col-3">

				<p:outputLabel for="prod" value="Producto" />

				<p:column>
					<p:autoComplete id="prod"
						value="#{entradaProductoBean.detEntPro.tblProducto}"
						completeMethod="#{productoBean.listaBuscarP}" var="pro"
						itemLabel="#{pro.nombre} - #{pro.marca} - Precio: S/. #{pro.precioVenta}"
						itemValue="#{pro}" converter="productoConverter"
						placeholder="Buscar producto 'Nombre' " onclick="this.value=''"
						required="true" requiredMessage="Debe especificar un Producto"
						dropdown="true">
						<f:facet name="itemtip">
							<p:panelGrid columns="2">
								<f:facet name="header">
									<p:graphicImage value="#{metodoImagenBean.image}" width="100"
										height="100">
										<f:param name="pid" value="#{pro.idProducto}" />
									</p:graphicImage>
								</f:facet>
								<p:outputLabel value="Nombre: " />
								<p:outputLabel value="#{pro.nombre}" />

								<p:outputLabel value="Marca: " />
								<p:outputLabel value="#{pro.marca}" />

								<p:outputLabel value="Caracteristica: " />
								<p:outputLabel value="#{pro.caracteristica}" />

								<p:outputLabel value="Precio: " />
								<p:outputLabel value="S/. #{pro.precioVenta}" />

								<p:outputLabel value="Stock: " />
								<p:outputLabel value="#{pro.stock}" />

							</p:panelGrid>
						</f:facet>
					</p:autoComplete>
				</p:column>

				<p:outputLabel for="c" value="Cantidad:" />

				<p:inputNumber id="c"
					value="#{entradaProductoBean.detEntPro.cantidad}"
					placeholder="Ingresar Cantidad" onclick="this.value=''"
					required="true" requiredMessage="Debe especificar la cantidad"
					onkeyup="$(this).val($(this).val().replace(/[^0-9\.]+/g, ''));"
					maxlength="8" />

				<p:commandButton value="Agregar Detalle"
					actionListener="#{entradaProductoBean.agregar()}"
					update="@form,dtab,m" class="btn btn-flat btn-primary"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa  fa-plus-square" />
			</p:panelGrid>
		</h:form>

		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="m" closable="true" escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<!-- TABLA DE DETALLE PRODUCTO -->
		<div class="col-md-12 widget" style="margin-top: 30px;">
		<div align="center">
		<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Lista
		de Detalles de Productos</p>
		</div>
		<p:dataTable id="dtab" value="#{entradaProductoBean.listaDetEntPro}"
			var="aa" scrollable="true" scrollHeight="200"
			style="font-size: 13px;padding-top :15px;" paginator="true"
			paginatorPosition="top" rows="8" widgetVar="pr"
			rowsPerPageTemplate="2,8,10,15" reflow="true">
			<p:column headerText="Producto">
				<p:outputLabel value="#{aa.tblProducto.nombre}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Marca">
				<p:outputLabel value="#{aa.tblProducto.marca}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Caracteristica">
				<p:outputLabel value="#{aa.tblProducto.caracteristica}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Cantidad">
				<p:outputLabel value="#{aa.cantidad}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>
			<p:column headerText="Precio">
				<p:outputLabel value="#{aa.tblProducto.precioVenta}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Imagen">
				<center>
				<p:graphicImage value="#{metodoImagenBean.image}" width="40"
					height="40" cache="false">
					<f:param name="pid" value="#{aa.tblProducto.idProducto}" />
				</p:graphicImage>
				</center>
			</p:column>

			<p:column headerText="Accion">
				<p:commandButton title="Quitar de la Lista"
					actionListener="#{entradaProductoBean.quitar(aa)}" update="dtab"
					icon="fa fa-remove" style="border:none;"
					class="btn btn-flat btn-danger btn-xs	" />
			</p:column>
		</p:dataTable>

		</div>

		<!-- TABLA DE BOTON DE SALIDA -->
		<h:form id="sendfr">
			<div class="col-md-12 widget" style="margin-bottom: 25px;">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="2" columnClasses="ui-grid-col-12">

				<p:commandButton value="Registrar Entrada de Producto"
					icon="fa  fa-download"
					actionListener="#{entradaProductoBean.registrar()}"
					class="btn btn-flat btn-info  form-control"
					update="add,dtab,sendfr,entpro,messe"
					style="border:none;font-family: 'Oswald', sans-serif;" />

			</p:panelGrid>
			</div>

			<div class="col-md-12 ">
			<p:messages autoUpdate="false" id="messe" closable="true"
				escape="true"
				style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
			</div>
		</h:form>

		<!-- TABLA DE DETALLE SLAIDA  -->
		<h:form id="entpro">
			<div class="col-md-12 widget">
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Lista
			de Entrada de Productos</p>
			</div>
			<p:dataTable id="trablaent"
				value="#{entradaProductoBean.listaentPro}" var="em"
				scrollable="true" scrollHeight="200"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">
				<p:column headerText="Responsable">
					<p:outputLabel
						value="#{em.tblEmpleado.tblDatos.nombres} #{em.tblEmpleado.tblDatos.apellidoPaterno} #{em.tblEmpleado.tblDatos.apellidoMaterno}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column>
					<f:facet name="header">Fecha Entrada</f:facet>
					<h:outputText value="#{em.fechaRegistro}">
						<f:convertDateTime pattern="MM/dd/yyyy -HH:mm:ss"
							timeZone="#{entradaProductoBean.timeZone}"
							style="font-family: 'Anaheim', sans-serif;" />
					</h:outputText>
				</p:column>

				<p:column headerText="Productos">
					<p:commandButton title="Ver Productos"
						actionListener="#{entradaProductoBean.select(em.tblDetalleEntradaProducto)}"
						icon="fa fa-eye " style="border: none;"
						oncomplete="PF('produ').show()" update=":po:tblPro"
						class="btn btn-flat btn-xs btn-success" />

				</p:column>
			</p:dataTable>
			</div>
		</h:form>
		</div>

		<!-- DIALOGO DE PRODUCTOS INGRESADOS ******************************************************************************* -->

		<ui:insert>
			<ui:include
				src="/Paginas/dialogs/entradaProducto/entradaProduto.xhtml" />
		</ui:insert>

	</ui:define>
</ui:composition>

