﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta name="viewport" content="width=device-width"></meta>
	<title>Login</title>
	<link rel="stylesheet" href="Inicio/esti_login.css"></link>
	<link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/s/pfiid5hich2xdju/user.svg?dl=0" />

	<link rel="stylesheet" href="Bienvenida/carga.css"></link>
</h:head>
<body class="hold-transition login-page welcome">

	<div id="contenedor_carga">
		<!-- 		<div id="carga"></div> -->
		<div>
			<span id="splash-overlay" class="splash"></span> <span id="welcome"
				class="z-depth-4"></span>
		</div>

	</div>

	<script>
	window.onload=function()
	{
		var contenedor=document.getElementById
		('contenedor_carga');

		contenedor.style.visibility= 'hidden';
		contenedor.style.opacity='0';
	}	

	</script>
	<h:form id="a">
		<div class="col-md-12">
			<p:messages autoUpdate="false" id="messagee" closable="true"
				style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>
	</h:form>
	<h:form>
		<div class="fondo">
			<div class="sub">
				<div class="subSub">
					<div class="A">
						<div class="d">
							<img class="imgLogin" src="https://dl.dropboxusercontent.com/s/minoa9h9ys4rf54/img_login.svg?dl=0"></img>
						</div>
					</div>
					<div class="TB" align="center">
						<p>
							<b>Sistema </b>de Ventas
						</p>
					</div>

					<!-- LOS IMPU TEXT Y BOTON -->
					<div class="txt">

						<div class="input-group" style="margin: 15px">
							<span class="input-group-addon" style="border: none;"><i
								class="fa fa-users"></i></span>
							<p:inputText value="#{usuarioBean.usu.usuario}" type="text"
								class="form-control btn-flat"
								style="font-family: 'Oswald', sans-serif;border:none;"
								placeholder="Cuenta de usuario" required="true"
								requiredMessage=" • Escribir un Usuario Registrado •" />
						</div>
						<div class="input-group" style="margin: 15px">
							<span class="input-group-addon" style="border: none;"><i
								class="fa fa-key"></i></span>
							<p:password id="password" value="#{usuarioBean.usu.contrasena}"
								type="password" class="form-control btn-flat"
								style="font-family: 'Oswald', sans-serif; border:none"
								placeholder="Contraseña" />
							<h:message for="password"></h:message>
						</div>

						<div style="margin: 15px;">
							<p:commandButton value="Iniciar Sesión"
								action="#{usuarioBean.validarUsuario()}"
								class="form-control btn btn-info btn-flat"
								style="font-family: 'Oswald', sans-serif;border:none "
								update=":a:messagee" />
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- ESTO CONTINUARA ...... :)  Esto si sirve causa sigue la prueba yes es lo mejor p--> 
	</h:form>
</body>
</html>
