<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Menu Principal</title>
	<link rel="icon" type="image/png" href="Inicio/homee.png" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/style.css" />

	<link rel="stylesheet" href="skin/default.css" />
</h:head>

<h:body>

	<!-- section works -->
	<section id="section-works" class="section appear clearfix">
	<div class="container">

		<div class="row mar-bot40">
			<div class="col-md-offset-3 col-md-6">
				<div class="section-header">
					<h2 class="section-heading animated" data-animation="bounceInUp">Menu
						Principal</h2>
					<p>Hola ! Bienvenido al Sistema de Ventas Motors S.A.C</p>

				</div>
			</div>
		</div>

		<!-- ACSESOS DIRECTOS -->
		<div class="row">


			<div class="col-md-12">
				<div class="row">
					<div class="portfolio-items isotopeWrapper clearfix" id="3">


						<article class="col-md-4 isotopeItem photography">
						<div class="portfolio-item">
							<img
								src="https://drive.google.com/file/d/1ZLmNYkDuz0szZTOivSJmOjc7XMIhq-FA/view?usp=sharing"
								alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Servico de Venta</a>
									</h5>
									<a href="VentaServicios.xhtml" class="fancybox"><i
										class="fa fa-tags fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem print">
						<div class="portfolio-item">
							<img src="img/portfolio/detalleCompra.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Detalle Compras de Cliente</a>
									</h5>
									<a href="buscarClienteProducto.xhtml"><i
										class="fa fa-cart-plus fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem webdesign">
						<div class="portfolio-item">
							<img src="img/portfolio/producto.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Productos</a>
									</h5>
									<a href="Productos.xhtml" class="fancybox"><i
										class="fa fa-cube fa-2x"></i></a>
									<!--                PARA PODER ABRIR EN UNA NUEVA PESTAÑA   ***  target="_blank" -->
								</div>
							</div>
						</div>
						</article>


						<article class="col-md-4 isotopeItem print">
						<div class="portfolio-item">
							<img src="img/portfolio/detalleServicio.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Detalle Servicio de Cliente</a>
									</h5>
									<a href="buscarClienteServicio.xhtml"><i
										class="fa fa-info-circle fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem photography">
						<div class="portfolio-item">
							<img src="img/portfolio/servicio.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Tipos de Servicio</a>
									</h5>
									<a href="servicios.xhtml" class="fancybox"><i
										class="fa fa-lightbulb-o fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>



						<article class="col-md-4 isotopeItem print">
						<div class="portfolio-item">
							<img src="img/portfolio/realizarVenta.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Realizar Venta</a>
									</h5>
									<a href="venta.xhtml"><i class="fa fa-send-o fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>



						<article class="col-md-4 isotopeItem photography">
						<div class="portfolio-item">
							<img src="img/portfolio/categoria.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Categorias</a>
									</h5>
									<a href="categoria.xhtml" class="fancybox"><i
										class="fa fa-bars fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>




						<article class="col-md-4 isotopeItem photography">
						<div class="portfolio-item">
							<img src="img/portfolio/proveedor.jpg" alt="" width="40px" />

							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Proveedores</a>
									</h5>
									<a href="proveedor.xhtml" class="fancybox"><i
										class="fa fa-truck fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>



						<article class="col-md-4 isotopeItem photography">
						<div class="portfolio-item">
							<img src="img/portfolio/HSalida.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Stock Minimo</a>
									</h5>
									<a href="MinimoStock.xhtml" class="fancybox"><i
										class="fa fa-dashboard fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>




						<article class="col-md-4 isotopeItem print">
						<div class="portfolio-item">
							<img src="img/portfolio/usuarios.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Usuarios</a>
									</h5>
									<a href="User.xhtml" class="fancybox"><i
										class="fa fa-group fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem photography">
						<div class="portfolio-item">
							<img src="img/portfolio/cliente.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Clientes</a>
									</h5>
									<a href="cliente.xhtml" class="fancybox"><i
										class="fa fa-street-view fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem print">
						<div class="portfolio-item">
							<img src="img/portfolio/EntradaProductos.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Entrada de Productos</a>
									</h5>
									<a href="entradaProducto.xhtml" class="fancybox"><i
										class="fa fa-cube fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem webdesign">
						<div class="portfolio-item">
							<img src="img/portfolio/empleado.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Empleados</a>
									</h5>
									<a href="empleado.xhtml" class="fancybox"><i
										class="fa fa-child fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem print">
						<div class="portfolio-item">
							<img src="img/portfolio/Promocion.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Promociones</a>
									</h5>
									<a href="promocion.xhtml"><i class="fa fa-heart fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>

						<article class="col-md-4 isotopeItem photography">
						<div class="portfolio-item">
							<img src="img/portfolio/cargo.jpg" alt="" />
							<div class="portfolio-desc align-center">
								<div class="folio-info">
									<h5>
										<a href="#">Cargos</a>
									</h5>
									<a href="Cargo.xhtml" class="fancybox"><i
										class="fa fa-male fa-2x"></i></a>
								</div>
							</div>
						</div>
						</article>






					</div>

				</div>


			</div>
		</div>

	</div>
	</section>
	<!-- CERRAR SESIÓN -->
	<h:form>
		<nav id="filter" class="col-md-12 text-center">
		<li><p:commandLink
				actionListener="#{plantillaController.cerrarSesion()}"
				action="/Paginas/Login?faces-redirect=true"
				class="btn-theme btn-small">¿Desea Cerrar la Sesión?</p:commandLink></li>
		</nav>
	</h:form>

</h:body>
</html>
