<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Menu Principal</title>
	<link rel="icon" type="image/png"
		href="https://dl.dropboxusercontent.com/s/45chisx4w5l83q7/icon_home.svg?dl=0" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/style.css" />

	<link rel="stylesheet" href="skin/default.css" />
</h:head>

<h:body>

	<!-- section works -->
	<section id="section-works" class="section appear clearfix">
	<div class="container">

		<div class="row mar-bot40">
			<div class="col-md-offset-3 col-md-6">
				<div class="section-header">
					<h2 class="section-heading animated" data-animation="bounceInUp">Menu
						Principal</h2>
					<p>Hola ! Bienvenido al Sistema de Ventas Motors S.A.C</p>

				</div>
			</div>
		</div>
	</div>
	<!-- ACCESOS DIRECTOS -->
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="portfolio-items">
					<article class="col-md-4">
					<div>
						<img src="img/portfolio/detalleCompra.jpg"/>
					</div>
					<div class=" align-center">
						<div class="folio-info">
							<h5>
								<a>Servicio de Venta</a>
							</h5>
							<a href="VentaServicios.xhtml" class="fancybox"><i
								class="fa fa-tags fa-2x"></i></a>
						</div>
					</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	</section>
	<!-- CERRAR SESIÓN -->
	<h:form>
		<nav id="filter" class="col-md-12 text-center">
		<li><p:commandLink
				actionListener="#{plantillaController.cerrarSesion()}"
				action="/Paginas/Login?faces-redirect=true"
				class="btn-theme btn-small">¿Desea Cerrar la Sesión?</p:commandLink></li>
		</nav>
	</h:form>

</h:body>
</html>
