
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">

		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {document.getElementById("op6").style.color='#00C0EF';}
</script>

		<div style="padding-top: 20px;">

		<div class="col-xs-12">
		<p style="font-size: 23px;">
		<b>PRODUCTOS</b> de Stock Minimino
		</p>
		</div>

		</div>
		<div class="col-xs-12">
		<p:messages autoUpdate="true" id="Stc" closable="true" />
		</div>

		<div align="center">
		<h1
			style="color: #222222; font-family: 'Fjalla One', sans-serif; font-size: 18px;">Listado
		de Stock Minimino</h1>
		</div>



		<h:form id="tt">
			<div class="col-md-12 widget">
			<p:dataTable id="Stc" value="#{productoBean.listaStock}" var="proo"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Cod. Producto">
					<p:outputLabel value="#{proo.codigoProducto}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Nombre">
					<p:outputLabel value="#{proo.nombre}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Marca">
					<p:outputLabel value="#{proo.marca}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Caracteristica">
					<p:outputLabel value="#{proo.caracteristica}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Stock">
					<p:outputLabel value="#{proo.stock} Unidades"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Precio Compra">
					<p:outputLabel value="S/. #{proo.precioCompra}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Precio Venta">
					<p:outputLabel value="S/. #{proo.precioVenta}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Imagen">
					<center>
					<p:graphicImage value="#{metodoImagenBean.image}" width="80"
						height="80" cache="false">
						<f:param name="pid" value="#{proo.idProducto}" />
					</p:graphicImage>
					</center>
				</p:column>

				<p:column>
					<f:facet name="header">Fecha Registro</f:facet>
					<h:outputText value="#{proo.fechaRegistro}">
						<f:convertDateTime pattern="MM/dd/yyyy -HH:mm:ss"
							timeZone="#{productoBean.timeZone}"
							style="font-family: 'Anaheim', sans-serif;" />
					</h:outputText>
				</p:column>

			</p:dataTable>
			</div>
		</h:form>

	</ui:define>
</ui:composition>
