
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">

		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op2").style.color='#00C0EF';
		}
</script>

		<div style="padding-top: 20px;">

		<div class="col-xs-7 col-sm-4 col-md-6 ">
		<p style="font-size: 23px;">
		<b>REGISTRAR</b> losProductos
		</p>
		</div>
		<div class="col-xs-5 col-sm-8 col-md-6" align="right"
			style="margin-top: 5px;">


		<p:commandLink
			style="text-decoration:none;border:none;font-family: 'Oswald', sans-serif; font-size:14px;"
			class="btn btn-xs btn-flat btn-primary"
			onclick="PF('dialogocate').show()">
			<i class="fa fa-bars"></i> Nuevo Categoria
			</p:commandLink>

		</div>
		</div>
		<div class="panelbody">

		<h:form enctype="multipart/form-data" id="p">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6">

				<p:inputText id="d" value="#{productoBean.proR.codigoProducto}"
					placeholder="Codigo Producto" style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="5" />

				<p:inputText id="a" value="#{productoBean.proR.nombre}"
					placeholder="Nombre" style="font-family:sans-serif;" maxlength="20" />

				<p:inputText id="b" value="#{productoBean.proR.marca}"
					placeholder="Marca" style="font-family:sans-serif;" maxlength="20" />

				<p:inputText id="c" value="#{productoBean.proR.caracteristica}"
					placeholder="Caracteristica" style="font-family:sans-serif;"
					maxlength="60" />

				<p:inputText id="e" value="#{productoBean.proR.precioCompra}"
					placeholder="Precio Compra" style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9\.]+/g, ''));"
					maxlength="9" />

				<p:inputText id="f" value="#{productoBean.proR.precioVenta}"
					placeholder="Precio Venta" style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9\.]+/g, ''));"
					maxlength="9" />

				<p:column>
					<p:autoComplete id="prod" value="#{productoBean.listaProveedor}"
						completeMethod="#{productoBean.listaBuscar}" var="pro"
						itemLabel="#{pro.razonSocial} / #{pro.ruc}" itemValue="#{pro}"
						converter="proveedorConverter" placeholder="Buscar Proveedores"
						multiple="true" onclick="this.value=''" required="true"
						requiredMessage="Necesario el Campo Proveedores">
						<p:column style="width:80%;">#{pro.razonSocial} - #{pro.ruc} </p:column>
					</p:autoComplete>
				</p:column>

				<p:column>
					<p:autoComplete id="cat" value="#{productoBean.cat}"
						completeMethod="#{categoriaBean.listabucarC}" var="ca"
						itemLabel="#{ca.nombre}" itemValue="#{ca}"
						converter="categoriaConverter"
						placeholder="Buscar categoria 'nombre' " onclick="this.value=''"
						required="true" requiredMessage="Necesario el Campo Categoria">
						<p:column style="width:80%; font-family:sans-serif;">#{ca.nombre}</p:column>
					</p:autoComplete>
				</p:column>

				<p:fileUpload id="filImaPro"
					fileUploadListener="#{productoBean.subirImagen}"
					cancelLabel="Cancelar" uploadLabel="Subir Imagen"
					label="Elegir Imagen" update="graImaPro" sizeLimit="5120000"
					allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

				<p:graphicImage id="graImaPro"
					value="#{productoBean.imagenProducto}" width="150" height="120" />

				<p:outputLabel />
				<p:commandButton value="Registrar el producto"
					actionListener="#{productoBean.registrar()}" update=":t:tp,p,mes"
					class="btn btn-flat btn-primary"
					style="border:none;font-family: 'Oswald', sans-serif;"
					oncomplete="setTimeout(function() { $('#mes').hide(1000); }, 7000);" />
			</p:panelGrid>
		</h:form>

		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="mes" closable="true" escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<h:form id="t">

			<div class="col-md-12 widget">
			<div align="center">
			<p
				style="font-family: 'Fjalla One', sans-serif; font-size: 18px; margin-top: 15px;">Listado
			de los Productos</p>
			</div>
			<p:dataTable id="tp" value="#{productoBean.listaProducto}" var="pro"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Cod. Producto">
					<p:outputLabel value="#{pro.codigoProducto}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Nombre">
					<p:outputLabel value="#{pro.nombre}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Marca">
					<p:outputLabel value="#{pro.marca}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Caracteristica">
					<p:outputLabel value="#{pro.caracteristica}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Stock">
					<p:outputLabel value="#{pro.stock} Uds." />
				</p:column>

				<p:column headerText="Precio Compra">
					<p:outputLabel value="S/. #{pro.precioCompra}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Precio Venta">
					<p:outputLabel value="S/. #{pro.precioVenta}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Imagen">
					<center>
					<p:graphicImage value="#{metodoImagenBean.image}" width="80"
						height="80" cache="false">
						<f:param name="pid" value="#{pro.idProducto}" />
					</p:graphicImage>
					</center>
				</p:column>

				<p:column>
					<f:facet name="header">Fecha Registro</f:facet>
					<h:outputText value="#{pro.fechaRegistro}">
						<f:convertDateTime pattern="MM/dd/yyyy -HH:mm:ss"
							timeZone="#{productoBean.timeZone}"
							style="font-family: 'Anaheim', sans-serif;" />
					</h:outputText>
				</p:column>

				<p:column headerText="Provedores" rendered="#{productoBean.accion}">
					<p:commandLink title="Ver Datos del Proveedor"
						actionListener="#{productoBean.seleccionarProvedor(pro.tblProveedor)}"
						class="btn btn-flat btn-default btn-xs"
						oncomplete="PF('verProv').show();" update="prove">
						<span><i class="fa fa-eye"></i></span>
					</p:commandLink>
				</p:column>

				<p:column headerText="Actualizar">
					<p:commandLink oncomplete="PF('dialogoActualizar').show();"
						actionListener="#{productoBean.seleccionarProducto(pro)}"
						update="DlgUpdate" class="btn btn-info btn-xs">
						<span><i class="fa fa-refresh"></i></span>
					</p:commandLink>
				</p:column>

			</p:dataTable>
			</div>
		</h:form>


		<!-- DIALOGO VER PROVEEDOR -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/proveedor/verProveedor.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO DE CATEGORIA ******************************************************************************************** -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/categoria/categoria.xhtml" />
		</ui:insert>
		<!-- FIN -->

		<!-- ACTUALIZAR CATEGORIA -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/categoria/actualizar.xhtml" />
		</ui:insert>
		<!-- FIN -->

		<!-- ACTUALIZAR CATEGORIA -->
		<ui:insert>
			<ui:include
				src="/Paginas/dialogs/entradaProducto/productoActualizar.xhtml" />
		</ui:insert>
		<!-- FIN -->
		</div>
	</ui:define>
</ui:composition>
