
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op11").style.color='#00C0EF';
		}
</script>

		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b>LISTA DE</b> - Promociones
		</p>
		</div>
		</div>
		<div class="panelbody">
		<h:form id="tt">
			<div class="col-md-12 ">
			<p:messages autoUpdate="true" id="messages" closable="true"
				escape="true"
				style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
			</div>

			<div class="col-md-12 widget">
			<p:dataTable id="Stc" value="#{clienteBean.listaClientePromo}"
				var="clie" style="font-size: 13px;padding-top :15px;"
				paginator="true" paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Codigo Cliente">
					<p:outputLabel value="#{clie.codigo}" />
				</p:column>

				<p:column headerText="Cliente">
					<p:outputLabel
						value="#{clie.nombres} #{clie.apellidoPaterno} #{clie.apellidoMaterno}" />
				</p:column>

				<p:column headerText="DNI">
					<p:outputLabel value="#{clie.dni}" />
				</p:column>

				<p:column headerText="Placa">
					<p:outputLabel value="#{clie.placa}" />
				</p:column>

				<p:column headerText="Promoción">
					<p:outputLabel value="#{clie.promocion}" />
				</p:column>

				<p:column headerText="Empresa">
					<p:commandButton title="Ver información"
						oncomplete="PF('dialogoVer').show();" icon="fa  fa-eye"
						class="btn btn-xs"
						actionListener="#{clienteBean.seleccionarCliente(clie)}"
						update="DlgVer"></p:commandButton>
				</p:column>

				<p:column headerText="Confi" width="14%">
					<p:commandLink oncomplete="PF('dialogoActualizar').show();"
						title="Confirmar Promoción" class="btn btn-info btn-xs"
						actionListener="#{clienteBean.seleccionarCliente(clie)}"
						update="DlgUpdate">
						<span><i class="fa  fa-gears"></i></span>
					</p:commandLink>
				</p:column>

			</p:dataTable>
			</div>
		</h:form>

		<!-- DIALOGO ACTUALIZAR  ************************************************************************ -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/Promocion/Actualizar.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO INFO  ************************************************************************ -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/Promocion/ver.xhtml" />
		</ui:insert>
		<!-- /FIN -->
		</div>
	</ui:define>
</ui:composition>
