
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">

		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op3").style.color='#00C0EF';
		}
</script>

		<div style="padding-top: 20px;">

		<div class="col-xs-12">
		<p style="font-size: 23px;">
		<b>REGISTRO</b> de Proveedor
		</p>
		</div>

		</div>
		<div class="panelbody">

		<h:form id="p">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="2" columnClasses="ui-grid-col-6">
				<p:inputText id="a" value="#{proveedorBean.proR.razonSocial}"
					placeholder="Razon Social" maxlength="60" />

				<p:inputText id="b" value="#{proveedorBean.proR.ruc}"
					placeholder="R.U.C"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="13" />

				<p:inputText id="c" value="#{proveedorBean.com.celular}"
					maxlength="9" placeholder="Celular"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:inputText id="d" value="#{proveedorBean.com.telefono}"
					maxlength="7" placeholder="Telefono"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:inputText id="e" value="#{proveedorBean.com.correo}"
					placeholder="@ Correo" maxlength="30" />

				<p:inputText id="f" value="#{proveedorBean.ubi.ciudad}"
					placeholder="Ciudad" maxlength="20" />

				<p:inputText id="g" value="#{proveedorBean.ubi.direccion}"
					placeholder="Dirección" maxlength="35" />

				<p:inputText id="h" value="#{proveedorBean.ubi.referencia}"
					placeholder="Referencia" maxlength="60" />

				<p:outputLabel />
				<p:commandButton class="btn btn-flat btn-primary"
					style="border:none;font-family: 'Oswald', sans-serif;"
					value="Registrar el Proveedor"
					actionListener="#{proveedorBean.registrar()}" update=":t:tp,p" />
			</p:panelGrid>
		</h:form>

		<h:form id="t">
			<div class="col-md-12 ">

			<p:messages autoUpdate="true" id="messages" closable="true"
				escape="true"
				style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
			</div>
			<div class="col-md-12 widget">
			<div align="center">
			<p
				style="font-family: 'Fjalla One', sans-serif; font-size: 18px; margin-top: 15px;">Listado
			de los Proveedores</p>
			</div>
			<p:dataTable id="tp" value="#{proveedorBean.listaProveedor}"
				var="pro" style="font-size: 13px;padding-top :15px;"
				paginator="true" paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Razon Social">
					<p:outputLabel value="#{pro.razonSocial}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="R.U.C">
					<p:outputLabel value="#{pro.ruc}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>



				<p:column>
					<f:facet name="header">Fecha Registro</f:facet>
					<h:outputText value="#{pro.fechaRegistro}">
						<f:convertDateTime pattern="MM/dd/yyyy -HH:mm:ss"
							timeZone="#{proveedorBean.timeZone}"
							style="font-family: 'Anaheim', sans-serif;" />
					</h:outputText>
				</p:column>
				<p:column headerText="Accesos" width="14%">

					<p:column>
						<p:commandLink title="Informacion Comunicación"
							style="text-decoration:none;border:none;font-family: 'Oswald', sans-serif;"
							class="btn btn-xs btn-flat bg-navy"
							actionListener="#{proveedorBean.seleccionarProveedor(pro)}"
							oncomplete="PF('dlginfocontacto').show()" update="dlinfo">
							<i class="fa   fa-phone"></i>
						</p:commandLink>
					</p:column>

					<p:column>
						<p:commandLink title="Informacion Ubicación"
							style="text-decoration:none;border:none;font-family: 'Oswald', sans-serif;"
							class="btn btn-xs btn-flat btn-default"
							actionListener="#{proveedorBean.seleccionarProveedor(pro)}"
							oncomplete="PF('dialogoCOMU').show()" update="DlgCOMU">
							<i class="fa fa-map-o"></i>
						</p:commandLink>
					</p:column>

					<p:column rendered="#{proveedorBean.accion}"
						headerText="Actualizar">
						<p:commandLink class="btn btn-flat btn-xs btn-danger"
							title="Actualizar Proveedor"
							style="border:none;font-family: 'Oswald', sans-serif; text-decoration:none;"
							oncomplete="PF('dialogoActualizar').show();"
							actionListener="#{proveedorBean.seleccionarProveedor(pro)}"
							update="DlgUpdate">
							<span><i class="fa fa-pencil"></i></span>
						</p:commandLink>
					</p:column>
				</p:column>

			</p:dataTable>
			</div>
		</h:form>
		</div>
		<!-- DIALOGO ACTUALIZAR  ************************************************************************ -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/datosProveedor/actualizar.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO DE INFORMACION DE PROVEEDOR CONTACTO *********************************************** -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/datosProveedor/comunicacion.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO DE UBICACION DEL PROVEDOR ***********************************************************-->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/datosProveedor/ubicacion.xhtml" />
		</ui:insert>
		<!-- /FIN -->
	</ui:define>
</ui:composition>
