
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op7").style.color='#00C0EF';
		}
</script>

		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b>REGISTRAR</b> - Servicios
		</p>
		</div>
		</div>
		<div class="panelbody">

		<h:form id="c">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12">

				<p:inputText id="a" value="#{serviciosBean.serR.nombre}"
					placeholder="Nombre" maxlength="30" />

				<p:commandButton value="Registrar el Servicio"
					actionListener="#{serviciosBean.registrar()}"
					update=":t:tc,c,messages" class="btn btn-primary"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa  fa-sign-in"
					onclick="setTimeout(function() { $('#messages').hide(1000); }, 3000);" />

			</p:panelGrid>
		</h:form>

		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="messages" closable="true"
			escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<h:form id="t">
			<div class="col-md-12 widget">
			<p:dataTable id="tc" value="#{serviciosBean.listaServicios}"
				var="ser" style="font-size: 13px;padding-top :15px;"
				paginator="true" paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Nombre">
					<p:outputLabel value="#{ser.nombre}" />
				</p:column>

				<p:column width="14%">
					<p:commandLink oncomplete="PF('dialogoActualizar').show();"
						title="Actualizar el Servicio" style="border: none;"
						actionListener="#{serviciosBean.seleccionarServicio(ser)}"
						update="DlgUpdate" class="btn btn-flat btn-default">
						<span><i class="fa fa-pencil-square-o"></i></span>
					</p:commandLink>
				</p:column>
			</p:dataTable>
			</div>
		</h:form>

		</div>
		<!-- DIALOGO DETALLE DE PRODUCTO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/Servicio/AcServicio.xhtml" />
		</ui:insert>
		<!-- /FIN -->
	</ui:define>
</ui:composition>
