
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op5").style.color='#00C0EF';
		}
</script>

		<div style="padding-top: 20px;" class="col-md-12 ">
		<p style="font-size: 23px;">
		<b>LISTA</b> de Usuarios
		</p>
		</div>
		<div class="panelbody">


		<h:form id="t">
			<div class="col-md-3 widget">
			<p:messages autoUpdate="true" id="messages" closable="true"
				escape="true"
				style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
			</div>
			<div class="col-md-6 widget">
			<p:dataTable id="tc" value="#{usuarioBean.listarEmpleado}" var="e"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="15" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Empleado">
					<p:outputLabel
						value="#{e[0].tblDatos.nombres} #{e[0].tblDatos.apellidoPaterno} #{e[0].tblDatos.apellidoMaterno}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Cargo">

					<p:outputLabel value="#{e[1].nombre}"
						style="font-family: 'Anaheim', sans-serif;" />

				</p:column>

				<p:column headerText="Registrar">
					<p:commandLink oncomplete="PF('dialogoRegistrar').show();"
						rendered="#{e[0].tblUsuario ==null}"
						title="Registrar Como Usuario"
						class="btn btn-flat btn-success btn-xs"
						actionListener="#{usuarioBean.seleccionarEmpleado(e[0])}"
						update="reg">
						<span><i class="fa fa-user-plus"></i></span>
					</p:commandLink>

					<p:commandLink oncomplete="PF('dialogoActualizar').show();"
						title="Actualizar el Usuario" rendered="#{e[0].tblUsuario !=null}"
						class="btn btn-flat btn-danger btn-xs"
						actionListener="#{usuarioBean.seleccionarUsuario(e[0].tblUsuario)}"
						update="DlgUpdate">
						<span><i class="fa fa-pencil"></i></span>
					</p:commandLink>
				</p:column>
			</p:dataTable>
			</div>
			<div class="col-md-3 widget"> </div>
		</h:form>

		</div>
		<!-- DIALOGO REGISTRAR COMO USUARIO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/user/registrarUsuario.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		<!-- DIALOGO ACTUALIZAR CONTRASEÑA -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/user/actualizar.xhtml" />
		</ui:insert>
		<!-- /FIN -->

	</ui:define>


</ui:composition>
