
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op0").style.color='#00C0EF';
		}
</script>


		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b>REGISTRO DE </b> - Ventas
		</p>
		</div>
		</div>
		<div class="panelbody">

		<h:form id="add">

			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="5"
				columnClasses="ui-grid-col-1,ui-grid-col-6,ui-grid-col-1,ui-grid-col-6,ui-grid-col-3">
				<p:outputLabel for="prod" value="Producto:"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:column>
					<p:autoComplete id="prod" value="#{ventaBean.detVen.tblProducto}"
						completeMethod="#{productoBean.listaBuscarP}" var="pro"
						itemLabel="#{pro.nombre} - #{pro.marca} - Precio: S/.#{pro.precioVenta} "
						itemValue="#{pro}" converter="productoConverter"
						placeholder="Buscar producto por 'Nombre' "
						onclick="this.value=''" required="true"
						requiredMessage="Debe especificar un Producto" dropdown="true">
						<f:facet name="itemtip">
							<p:panelGrid columns="2">
								<f:facet name="header">
									<p:graphicImage value="#{metodoImagenBean.image}" width="100"
										height="100">
										<f:param name="pid" value="#{pro.idProducto}" />
									</p:graphicImage>
								</f:facet>
								<p:outputLabel value="Nombre: " />
								<p:outputLabel value="#{pro.nombre}" />

								<p:outputLabel value="Marca: " />
								<p:outputLabel value="#{pro.marca}" />

								<p:outputLabel value="Caracteristica: " />
								<p:outputLabel value="#{pro.caracteristica}" />

								<p:outputLabel value="Precio: " />
								<p:outputLabel value="S/. #{pro.precioVenta}" />

								<p:outputLabel value="Stock: " />
								<p:outputLabel value="#{pro.stock}" />

							</p:panelGrid>
						</f:facet>
					</p:autoComplete>
				</p:column>

				<p:outputLabel for="prod" value="Cantidad:"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:inputNumber id="c" value="#{ventaBean.detVen.cantidad}"
					placeholder="Ingresar Cantidad" onclick="this.value=''"
					required="true" requiredMessage="Debe especificar la cantidad"
					onkeyup="$(this).val($(this).val().replace(/[^0-9\.]+/g, ''));"
					maxlength="8" />

				<p:commandButton value="Agregar a Venta"
					actionListener="#{ventaBean.agregar()}"
					class="btn btn-flat btn-primary"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa  fa-plus-square" update="dtab,messs" />
			</p:panelGrid>
		</h:form>
		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="messs" closable="true"
			escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<!-- TABLA DE DETALLE PRODUCTO -->
		<div class="col-md-12 widget" style="margin-top: 30px;">
		<div align="center">
		<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Lista
		de Detalles de Productos - Venta</p>
		</div>
		<p:dataTable id="dtab" value="#{ventaBean.listaDetVen}" var="aa"
			scrollable="true" scrollHeight="200"
			style="font-size: 13px;padding-top :15px;" paginator="true"
			paginatorPosition="top" rows="8" widgetVar="prodtable"
			rowsPerPageTemplate="2,8,10,15" reflow="true">
			<p:column headerText="Producto">
				<p:outputLabel value="#{aa.tblProducto.nombre}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Marca">
				<p:outputLabel value="#{aa.tblProducto.marca}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Caracteristica">
				<p:outputLabel value="#{aa.tblProducto.caracteristica}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Cantidad">
				<p:outputLabel value="#{aa.cantidad}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>
			<p:column headerText="Precio">
				<p:outputLabel value="#{aa.tblProducto.precioVenta}"
					style="font-family: 'Anaheim', sans-serif;" />
			</p:column>

			<p:column headerText="Imagen">
				<center>
				<p:graphicImage value="#{metodoImagenBean.image}" width="40"
					height="40" cache="false">
					<f:param name="pid" value="#{aa.tblProducto.idProducto}" />
				</p:graphicImage>
				</center>
			</p:column>

			<p:columnGroup type="footer">
				<p:row>
					<p:column colspan="5" style="text-align:right" footerText="Total:" />
					<p:column footerText="S/. #{ventaBean.total} " />
				</p:row>
			</p:columnGroup>

			<p:column headerText="Accion">
				<p:commandButton title="Quitar de la Lista"
					actionListener="#{ventaBean.quitar(aa)}" update="dtab"
					icon="fa fa-remove" style="border:none;"
					class="btn btn-flat btn-danger btn-xs" />
			</p:column>
		</p:dataTable>
		</div>

		<div align="center">
		<p
			style="font-family: 'Fjalla One', sans-serif; font-size: 18px; margin-top: 25px;">Registrar
		"o" Buscar - Cliente</p>
		</div>

		<h:form id="sendfr">


			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="3"
				columnClasses="ui-grid-col-3,ui-grid-col-6,ui-grid-col-3">
				<p:commandLink onclick="PF('Dialogocliente').show();"
					class="btn  btn-flat btn-info form-control"
					style="border:none;font-family: 'Oswald', sans-serif;">
					<span><i class="fa  fa-street-view"></i></span> Registrar un Nuevo Cliente
				</p:commandLink>

				<p:column>
					<p:autoComplete id="cli" value="#{ventaBean.cli}"
						completeMethod="#{clienteBean.listaBuscar}" var="cli"
						itemLabel="#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} - DNI [ #{cli.dni} ]"
						itemValue="#{cli}" converter="clienteConverter"
						placeholder="Buscar cliente 'Nombre' " onclick="this.value=''"
						required="true" requiredMessage="Asigne a un Cliente"
						dropdown="true">
						<p:column style="width:40%">
								#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} - DNI [ #{cli.dni} ]
								</p:column>
					</p:autoComplete>
				</p:column>

				<p:commandButton value="Registrar Venta"
					actionListener="#{ventaBean.registrar()}"
					update="add,dtab,sendfr,entpro,messages" icon="fa  fa-download"
					class="btn btn-flat btn-primary form-control"
					style="border:none;font-family: 'Oswald', sans-serif;" />

			</p:panelGrid>
		</h:form>

		<p:separator />
		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="messages" closable="true"
			escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>
		<h:form id="entpro">
			<div class="col-md-12 widget">
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Lista
			de Ventas de Productos</p>
			</div>
			<p:dataTable id="trablaent" value="#{ventaBean.listaVenta}" var="em"
				scrollable="true" scrollHeight="200"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="prodtable"
				rowsPerPageTemplate="2,8,10,15" reflow="true">
				<p:column headerText="Responsable">
					<p:outputLabel
						value="#{em.tblEmpleado.tblDatos.nombres} #{em.tblEmpleado.tblDatos.apellidoPaterno} #{em.tblEmpleado.tblDatos.apellidoMaterno}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Cliente">
					<p:outputLabel
						value="#{em.tblCliente.nombres} #{em.tblCliente.apellidoPaterno} #{em.tblCliente.apellidoMaterno}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column>
					<f:facet name="header">Fecha Venta</f:facet>
					<h:outputText value="#{em.fechaRegistro}">
						<f:convertDateTime pattern="MM/dd/yyyy -HH:mm:ss"
							timeZone="#{ventaBean.timeZone}"
							style="font-family: 'Anaheim', sans-serif;" />
					</h:outputText>
				</p:column>

				<p:column headerText="Productos" width="10%">
					<center>
					<p:commandButton title="Ver Productos"
						actionListener="#{ventaBean.selec(em.tblDetalleVenta)}"
						icon="fa fa-eye" oncomplete="PF('produ').show()"
						update=":po:tblPro"
						style="font-family: 'Anaheim', sans-serif; background:#F3F4B7 ; border:none;"
						class="btn btn-xs" />
					</center>
				</p:column>

				<p:column headerText="Actualizar Cliente">
					<p:commandButton value="Cliente"
						actionListener="#{ventaBean.seleccionarCliente(em)}"
						oncomplete="PF('clien').show()" update="tablaCli" />
				</p:column>

				<p:column headerText="Eliminar Venta">
					<p:commandLink update=":eliminarven"
						oncomplete="PF('dialogoEliminarvent').show();">
						<img src="../imagenes/iconos/elimar2.png" />
						<f:setPropertyActionListener value="#{em}"
							target="#{ventaBean.ven}" />
					</p:commandLink>
				</p:column>
			</p:dataTable>
			</div>
		</h:form>

		<p:dialog widgetVar="clien" id="tablaCli" header="Escoger un Cliente"
			modal="true" maximizable="true" hideEffect="clip" showEffect="Bounce">
			<h:form>
				<p:column>
					<p:autoComplete id="cli" value="#{ventaBean.venA.tblCliente}"
						completeMethod="#{clienteBean.listaBuscar}" var="cli"
						itemLabel="#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} / #{cli.dni}"
						itemValue="#{cli}" converter="clienteConverter"
						placeholder="Buscar cliente 'nombre' " onclick="this.value=''">
						<p:column style="width:40%">
						#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} / #{cli.dni}
						</p:column>
					</p:autoComplete>
				</p:column>
				<p:commandButton value="Actualizar"
					actionListener="#{ventaBean.actualizarClienteVenta()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-refresh" class="btn  btn-danger"
					update=":entpro:trablaent" oncomplete="PF('clien').hide();" />
			</h:form>
		</p:dialog>

		<h:form id="eliminarven">
			<p:dialog id="dialogovent" widgetVar="dialogoEliminarvent"
				resizable="false" showEffect="explode" hideEffect="explode"
				modal="true">
				<f:facet name="header">
					<h:outputText value="¿Desea eliminar?" />
				</f:facet>
				<h:inputHidden value="#{ventaBean.ven.idVenta}" />
				<p:panelGrid columns="2">
					<p:commandButton value="Si"
						actionListener="#{ventaBean.eliminarVenta()}"
						update=":entpro:trablaent"
						oncomplete="PF('dialogoEliminarvent').hide();" />

					<p:commandButton value="No"
						onclick="PF('dialogoEliminarvent').hide();" />
				</p:panelGrid>
			</p:dialog>
		</h:form>
		</div>

		<!-- DIALOGO DE PRODUCTOS DE VENDIDOS ********************************************************************************************************** -->

		<ui:insert>
			<ui:include src="/Paginas/dialogs/venta/ProductosVendidos.xhtml" />
		</ui:insert>

		<!-- DIALOGO DE CLIENTE ************************************************************************************************************************ -->

		<ui:insert>
			<ui:include src="/Paginas/dialogs/cliente/Cliente.xhtml" />
		</ui:insert>

		<!-- DIALOGO ACTUALIZAR CLIENTE -->

		<ui:insert>
			<ui:include src="/Paginas/dialogs/cliente/actualizarCliente.xhtml" />
		</ui:insert>



	</ui:define>
</ui:composition>
