
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/Plantillas/PlantillaOne.xhtml">

	<f:loadBundle basename="resources.application" var="msg" />


	<ui:define name="contenido">
		<!-- SCRIP DE SELECCION -->
		<script type="text/javascript">
	window.onload = function() {
		document.getElementById("op12").style.color='#00C0EF';
		}
</script>

		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b> ASIGNACION DE VENTA </b> de Servicios
		</p>
		</div>
		</div>
		<div class="panelbody">

		<h:form id="add">

			<p:panelGrid columns="1" styleClass="ui-panelgrid-blank ui-fluid"
				layout="grid" width="100%"
				columnClasses="ui-g-12 ui-md-12,ui-g-12 ui-md-12">
				<p:outputLabel for="ser" value="Servicios"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:column>
					<p:autoComplete id="ser"
						value="#{servicioBean.detSer.tblServicios}"
						completeMethod="#{serviciosBean.listaBuscarSer}" var="ser"
						itemLabel="#{ser.nombre}" itemValue="#{ser}"
						converter="serviciosConverter"
						placeholder="Buscar Servicios 'Nombre' " onclick="this.value=''"
						required="true" requiredMessage="Debe especificar un Servicio"
						dropdown="true">
						<p:message for="ser" />
						<p:column style="width:40%">
								#{ser.nombre} 
								</p:column>
					</p:autoComplete>

				</p:column>

				<p:outputLabel for="ccc" value="Detallar:"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:inputText id="ccc" value="#{servicioBean.detSer.caracteristica}"
					placeholder="Detallar el Servicio" required="true"
					requiredMessage="Debe detallar el Servicio" />

				<p:outputLabel for="c" value="Cantidad:"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:inputText id="c" value="#{servicioBean.detSer.cantidad}"
					placeholder="Ingresar Cantidad" required="true"
					requiredMessage="Debe especificar la cantidad"
					onkeyup="$(this).val($(this).val().replace(/[^0-9\.]+/g, ''));" />

				<p:outputLabel for="bb" value="Precio"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:inputText id="bb" value="#{servicioBean.detSer.precioServicio}"
					placeholder="Precio de Servicio" required="true"
					requiredMessage="Debe especificar el Precio"
					onkeyup="$(this).val($(this).val().replace(/[^0-9\.]+/g, ''));"
					maxlength="7" />

				<p:outputLabel for="cc" value="Promoción:"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<!-- 					<p:inputText id="cc" value="#{servicioBean.detSer.cantidadP}" placeholder="Ingresar Promoción" symbol="Promoción: " onkeyup="$(this).val($(this).val().replace(/[^0-1]/g, ''));" -->
				<!-- 							maxlength="1"/> -->
				<p:selectOneMenu id="cc" value="#{servicioBean.detSer.cantidadP}">
					<f:selectItem itemLabel="Sin Promoción" itemValue="0"></f:selectItem>
					<f:selectItem itemLabel="Con Promoción" itemValue="1"></f:selectItem>
				</p:selectOneMenu>
				<p:commandButton value="Agregar Detalle del Servicio"
					actionListener="#{servicioBean.agregar()}"
					styleClass="btn btn-primary" update="dtab,mm" icon="fa fa-sign-in"
					style="border:none;font-family: 'Oswald', sans-serif;" />

			</p:panelGrid>
		</h:form>

		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="mm" closable="true" escape="true"
			severity="error"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>


		<div class="col-md-12 widget">
		<p:dataTable id="dtab" value="#{servicioBean.listaDetSer}" var="aa"
			scrollable="true" scrollHeight="200"
			style="font-size: 13px;padding-top :15px;" paginator="true"
			paginatorPosition="top" rows="8" widgetVar="prodtable"
			rowsPerPageTemplate="2,8,10,15" reflow="true">
			<p:column headerText="Servicio">
				<p:outputLabel value="#{aa.tblServicios.nombre}"
					style="border:none;font-family: 'Oswald', sans-serif;" />
			</p:column>

			<p:column headerText="Detalle">
				<p:outputLabel value="#{aa.caracteristica}"
					style="border:none;font-family: 'Oswald', sans-serif;" />
			</p:column>

			<p:column headerText="Cantidad">
				<p:outputLabel value="#{aa.cantidad}" />
			</p:column>

			<p:column headerText="Precio">
				<p:outputLabel value="#{aa.precioServicio}" />
			</p:column>

			<p:column headerText="Promoción">
				<p:outputLabel value="#{aa.cantidadP}" />
			</p:column>

			<p:columnGroup type="footer">
				<p:row>
					<p:column colspan="5" style="text-align:right" footerText="Total:" />
					<p:column footerText="S/. #{servicioBean.total} " />
				</p:row>
			</p:columnGroup>

			<p:column headerText="Accion">
				<p:commandButton title="Quitar"
					actionListener="#{servicioBean.quitar(aa)}" update="dtab"
					class="btn btn-danger btn-flt" icon="fa  fa-remove" />
			</p:column>
		</p:dataTable>
		</div>

		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="m" closable="true" escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>
		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b>REGISTRO DE DETALLE </b> del Servicios
		</p>
		</div>
		</div>

		<h:form id="sendfr">

			<p:panelGrid columns="1" styleClass="ui-panelgrid-blank ui-fluid"
				layout="grid" width="100%"
				columnClasses="ui-g-12 ui-md-12,ui-g-12 ui-md-12">

				<p:commandLink onclick="PF('Dialogocliente').show();"
					class="btn  btn-flat btn-info form-control"
					style="border:none;font-family: 'Oswald', sans-serif;">
					<span><i class="fa  fa-street-view"></i></span> Registrar un Nuevo Cliente
		</p:commandLink>

				<p:outputLabel for="cli" value="Asigne Clientes:"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:column>
					<p:autoComplete id="cli" value="#{servicioBean.cli}"
						completeMethod="#{clienteBean.listaBuscar}" var="cli"
						itemLabel="#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} - DNI [ #{cli.dni} ]"
						itemValue="#{cli}" converter="clienteConverter"
						placeholder="Buscar cliente 'nombre' " onclick="this.value=''"
						required="true" requiredMessage="Asigne a un Cliente"
						dropdown="true">
						<p:column style="width:40%">
								#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} - DNI [ #{cli.dni} ]
								</p:column>
					</p:autoComplete>
				</p:column>

				<p:commandButton value="Registrar Servicio"
					actionListener="#{servicioBean.registrar()}"
					styleClass="btn btn-primary" update="add,dtab,sendfr,entpro,m"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-sign-in" />

			</p:panelGrid>
		</h:form>

		<h:form id="entpro">
			<p:dataTable id="trablaent" value="#{servicioBean.listaServicio}"
				var="em" scrollable="true" scrollHeight="200"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="prodtable"
				rowsPerPageTemplate="2,8,10,15" reflow="true">
				<p:column headerText="Responsable" width="15%">
					<center>
					<p:outputLabel
						value="#{em.tblEmpleado.tblDatos.nombres} #{em.tblEmpleado.tblDatos.apellidoPaterno} #{em.tblEmpleado.tblDatos.apellidoMaterno}" />
					</center>
				</p:column>

				<p:column headerText="Cliente" width="20%">
					<center>
					<p:outputLabel
						value="#{em.tblCliente.nombres} #{em.tblCliente.apellidoPaterno} #{em.tblCliente.apellidoMaterno}" />
					</center>
				</p:column>

				<p:column headerText="Total" width="10%">
					<center>
					<p:outputLabel value="S/. #{em.total}" />
					</center>
				</p:column>

				<p:column width="10%">
					<f:facet name="header">Fecha Servicio</f:facet>
					<center>
					<h:outputText value="#{em.fechaRegistro}">
						<f:convertDateTime pattern="MM/dd/yyyy - HH:mm:ss"
							timeZone="#{servicioBean.timeZone}" />
					</h:outputText>
					</center>
				</p:column>

				<p:column headerText="Servicios" width="5%">
					<center>
					<p:commandButton title="Ver Servicios"
						actionListener="#{servicioBean.selec(em.tblDetalleServicio)}"
						icon="fa fa-eye" class="btn btn-success btn-xs"
						oncomplete="PF('produ').show()" update=":po:tblPro" />
					</center>
				</p:column>

				<p:column headerText="Actualizar Cliente" width="10%">
					<center>
					<p:commandButton
						actionListener="#{servicioBean.seleccionarCliente2(em)}"
						icon="fa fa-child" class="btn btn-warning btn-xs"
						oncomplete="PF('clien').show()" update="tablaCli,mmz" />
					</center>
				</p:column>

				<p:column headerText="Eliminar" width="5%">
					<center>
					<p:commandButton update=":eliminarven"
						oncomplete="PF('dialogoEliminarvent').show();"
						icon="fa fa-fw fa-remove" class="btn btn-danger btn-xs">
						<f:setPropertyActionListener value="#{em}"
							target="#{servicioBean.ser}" />
					</p:commandButton>
					</center>
				</p:column>
			</p:dataTable>
		</h:form>

		<!-- DIALOGO DETALLE DE PRODUCTO -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/Servicio/VentaServicio.xhtml" />
		</ui:insert>

		<ui:insert>
			<ui:include src="/Paginas/dialogs/Servicio/EliminarServicio.xhtml" />
		</ui:insert>

		<ui:insert>
			<ui:include
				src="/Paginas/dialogs/Servicio/ActualizarClienteServicio.xhtml" />
		</ui:insert>
		<!-- /FIN -->

		</div>


		<!-- DIALOGO DE CLIENTE ************************************************************************************************************************ -->

		<ui:insert>
			<ui:include src="/Paginas/dialogs/cliente/Cliente.xhtml" />
		</ui:insert>
		<!-- ACTUALIZAR VLIENTE ************************************************************************************************************************* -->
		<ui:insert>
			<ui:include src="/Paginas/dialogs/cliente/actualizarCliente.xhtml" />
		</ui:insert>
	</ui:define>
</ui:composition>
