<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>

	<title>Sistema Venta</title>

	<!-- ******************************* FUENTES -->
	<link rel="icon" type="image/png" href="imagen/ico.png" />

	<meta name="viewport" content="width=device-width"></meta>

	<link href="https://fonts.googleapis.com/css?family=Fjalla+One"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Viga"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Anaheim|Thasadith"
		rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
		rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Oswald"
		rel="stylesheet" />
	<f:event listener="#{plantillaController.verificarSesion()}"
		type="preRenderView"></f:event>
	<!-- ******************** FIN  -->

	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<meta name="description" content=""></meta>

	<link rel="stylesheet" media="screen"
		href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"></link>

	<!-- Custom styles for our template -->
	<!-- 	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" ></link> -->
	<!-- 	<link rel="stylesheet" href="assets/css/responsive.css" media="screen" ></link> -->

	<!-- PARA QUE SEA EN TODA LAS PAGINA ********************* -->


	<link rel="stylesheet" href="../Paginas/assets/css/bootstrap-theme.css"
		media="screen"></link>
	<link rel="stylesheet" href="../Paginas/css/responsive.css"
		media="screen"></link>



	<!-- PARA PROGRESBAR LINEAL -->

	<h:outputStylesheet library="css" name="bar.css" />
	<h:outputScript library="js" name="bar.js"></h:outputScript>

	<h:outputStylesheet library="css" name="index.css" />
</h:head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom"
	style="font-family: 'Fjalla One', sans-serif;">
<div class="container">
<div class="navbar-header">

<button type="button" class="navbar-toggle" data-toggle="collapse"
	data-target=".navbar-collapse">
<span class="icon-bar"></span> <span class="icon-bar"></span> <span
	class="icon-bar"></span>
</button>
<a class="navbar-brand" href="../Paginas/Menu-Principal.xhtml"
	style="font-family: 'Fjalla One', sans-serif;">Motors S.A.C</a>
</div>

<div class="navbar-collapse collapse" style="height: auto;">
<ul class="nav navbar-nav pull-right">
<li><a href="../Paginas/Menu-Principal.xhtml"><span><i
	class="fa fa-home"></i></span></a></li>

<li><a id="op3" href="../Paginas/proveedor.xhtml"><span><i
	class="fa fa-truck"></i></span> Proveedor</a></li>
<li><a id="op4" href="../Paginas/empleado.xhtml"><span><i
	class="fa fa-user-plus"></i></span> Empleados</a></li>
<li><a id="op6" href="../Paginas/MinimoStock.xhtml"><span><i
	class="fa fa-line-chart"></i></span> Stock Minimo</a></li>

<li class="dropdown"> <a href="#" class="dropdown-toggle">Servicios
<b class="caret"></b>
</a> <ul class="dropdown-menu">

<li><a id="op7" href="../Paginas/servicios.xhtml"><span><i
	class="fa fa-gear"></i></span> Tipos Servicios</a></li>
<li><a id="op12" href="../Paginas/VentaServicios.xhtml"><span><i
	class="fa fa-rocket"></i></span> Venta Servicio </a></li>
<li><a id="op11" href="../Paginas/promocion.xhtml"><span><i
	class="fa fa-star"></i></span> Promociones </a></li>

</ul>
</li>

<li class="dropdown"> <a href="#" class="dropdown-toggle">Acceso
<b class="caret"></b>
</a> <ul class="dropdown-menu">
<li><a id="op0" href="../Paginas/venta.xhtml"><span><i
	class="fa  fa-paper-plane-o"></i></span> Realizar Venta</a></li>
<li><a id="op1" href="../Paginas/entradaProducto.xhtml"><span><i
	class="fa fa-cubes"></i></span> Entrada Producto</a></li>
<li><a id="op2" href="../Paginas/Productos.xhtml"><span><i
	class="fa fa-tags"></i></span> Productos</a></li>
</ul>
</li>

<li class="dropdown"> <a href="#" class="dropdown-toggle"><span><i
	class="fa fa-search"></i></span><b class="caret"></b></a> <ul
	class="dropdown-menu">
<li><a id="op10" href="../Paginas/cliente.xhtml"><span><i
	class="fa fa-clone"></i></span> Lista Cliente</a></li>
<li><a id="op8" href="../Paginas/buscarClienteProducto.xhtml"><span><i
	class="fa  fa-line-chart"></i></span> Compras-Cliente</a></li>
<li><a id="op9" href="../Paginas/buscarClienteServicio.xhtml"><span><i
	class="fa fa-gear"></i></span> Venta-Servicio Cliente</a></li>

</ul>
</li>


<li title="Usuarios"><a id="op5" href="../Paginas/User.xhtml"><span><i
	class="fa fa-group"></i></span></a></li>
<li><p:commandLink title="Cerrar Sesión"
	actionListener="#{plantillaController.cerrarSesion()}"
	action="/Paginas/Login?faces-redirect=true" class="btn"
	style="font-family: 'Fjalla One', sans-serif;">
	<span><i class="fa fa-power-off"></i></span>
</p:commandLink></li>

</ul>
</div>
<!--/.nav-collapse -->
</div>
</div>
<!-- /.navbar -->


<!-- CONTENEDORES DE OTRAS PANTALLAS  ****************************************************** -->

<div class="contenedor">

<ui:insert name="contenido">
		
Detalle de texto en inglés (sobre papel)

Texto en tres diferentes idiomas en la llamada Piedra de Rosetta

Texto junto a una ilustración. Portada nº1 de la revista satírica llamada La Flaca
Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido.

También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.

Las ideas esenciales que comunica un texto están contenidas en lo que se suele denominar «macroproposiciones», unidades estructurales de nivel superior o global, que otorgan coherencia al texto constituyendo su hilo central, el esqueleto estructural que cohesiona elementos lingüísticos formales de alto nivel, como los títulos y subtítulos, la secuencia de párrafos, etc. En contraste, las «microproposiciones» son los elementos coadyuvantes de la cohesión de un texto, pero a nivel más particular o local. Esta distinción fue realizada por Teun van Dijk en 1980.1​

El nivel microestructural o local está asociado con el concepto de cohesión. Se refiere a uno de los fenómenos propios de la coherencia, el de las relaciones particulares y locales que se dan entre elementos lingüísticos, tanto los que remiten unos a otros como los que tienen la función de conectar y organizar. También es un conjunto de oraciones agrupadas en párrafos que habla de un tema determinado.
	</ui:insert>
</div>

<footer id="footer" class="top-space"> <div
	class="col-md-12 widget"
	style="background: #222222; margin-top: 15px; padding: 18px; color: #fff">
<p class="widget-title"
	style="font-size: 20px; font-family: 'Fjalla One', sans-serif;">Bienvenido
al Sistema de Ventas</p>

</div> </footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>
