<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="produ" id="tablaProd" modal="true"
		resizable="false" hideEffect="clip" appendTo="@(body)"
		showEffect="Bounce" responsive="true" draggable="false"
		class="box  box-info box-solid"
		style="font-family: 'Fjalla One', sans-serif; ">

		<div class="col-md-12">
		<p style="font-size: 23px; font-family: 'Fjalla One', sans-serif;">
		<b>PRODUCTOS </b> - Vendidos
		</p>
		</div>
		<h:form id="po">

			<div class="col-md-12 widget">
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Lista
			de Producto</p>
			</div>
			<p:dataTable id="tblPro" value="#{ventaBean.listaDetVenSelec}"
				var="dev" style="font-size: 13px;padding-top :15px;"
				widgetVar="true" reflow="true">

				<p:column headerText="Codigo">
					<p:outputLabel value="#{dev.tblProducto.codigoProducto}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Producto">
					<p:outputLabel
						value="#{dev.tblProducto.nombre} / #{dev.tblProducto.marca} / #{dev.tblProducto.caracteristica}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Precio Venta">
					<p:outputLabel value="#{dev.tblProducto.precioVenta}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Cantidad">
					<p:outputLabel value="#{dev.cantidad}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Imagen">
					<center>
					<p:graphicImage value="#{metodoImagenBean.image}" width="80"
						height="80" cache="false">
						<f:param name="pid" value="#{dev.tblProducto.idProducto}" />
					</p:graphicImage>
					</center>
				</p:column>

				<p:column headerText="Total">
					<center> ↓ </center>
				</p:column>

				<p:columnGroup type="footer">
					<p:row>
						<p:column colspan="5" style="text-align:center"
							footerText="Moto Servicios Raúl" />
						<p:column style="text-align:center"
							footerText="S/. #{ventaBean.listaDetVenSelec.iterator().next().tblVenta.total}"
							width="60%" />
					</p:row>
				</p:columnGroup>
			</p:dataTable>

			</div>
		</h:form>
	</p:dialog>

</ui:composition>
</html>