.contenedor {
	margin-top: 73px;
	padding-top: 2%;
	font-family: 'Fjalla One', sans-serif;
}
/* UNO */
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.contenedor {
		margin-top: 80px;
	}
}

/* DOS */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.contenedor {
		margin-top: 130px;
	}
}