<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dialogoActualizar"
		header="Actualizar Contraseña - Usuario"
		class="box box-danger box-solid" appendTo="@(body)" id="DlgUpdate"
		modal="true" resizable="false" hideEffect="clip" showEffect="Bounce"
		responsive="true" style="font-family: 'Fjalla One', sans-serif; ">
		<h:form>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12">

				<p:outputLabel for="nombre" value="Usuario:"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="nombre" class="form-control"
					value="#{usuarioBean.usu.usuario}" required="true"
					requiredMessage="Campo Usuario Requerido"
					style="font-family:sans-serif;" maxlength="15"></p:inputText>
				<p:message for="nombre" />

				<p:outputLabel for="clave1" value="Contraseña:"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:password id="clave1" class="form-control"
					value="#{usuarioBean.usu.contrasena}" match="clave2"
					feedback="true" promptLabel="Ingrese una Clave" required="true"
					validatorMessage="Las Claves no Coinciden." weakLabel="Débil"
					strongLabel="Fuerte" goodLabel="Bueno"
					requiredMessage="Campo Contraseña Requerido" maxlength="20"></p:password>
				<p:message for="clave1" />

				<p:outputLabel for="clave2" value="Repetir Contraseña:"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:password id="clave2" required="true" class="form-control"
					requiredMessage="Campo de Confirmación Requerido"
					validatorMessage="Las Claves no Coinciden."></p:password>
				<p:message for="clave2" />

				<p:commandButton value="Actualizar Usuario"
					actionListener="#{usuarioBean.actualizar()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-unlock-alt" class="btn btn-flat btn-danger"
					update=":t:tc" oncomplete="PF('dialogoActualizar').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>