<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->

	<!-- /FIN -->
	<p:dialog widgetVar="dialogoRegistrar" id="reg"
		header="Registar como Nuevo - Usuario" modal="true" appendTo="@(body)"
		resizable="false" hideEffect="clip" showEffect="Bounce"
		class="box box-success box-solid" draggable="false" responsive="true"
		style="font-family: 'Fjalla One', sans-serif; ">
		<h:form id="c">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12">

				<p:outputLabel for="nombre" value="Usuario:"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="nombre" class="form-control"
					value="#{usuarioBean.usuu.usuario}" required="true"
					requiredMessage="Campo Usuario Requerido" maxlength="15"
					style="font-family:sans-serif;" />
				<p:message for="nombre" />

				<p:outputLabel for="clave1" value="Contraseña:"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:password id="clave1" class="form-control"
					value="#{usuarioBean.usuu.contrasena}" match="clave2"
					feedback="true" promptLabel="Ingrese una Clave" required="true"
					validatorMessage="Las Claves no Coinciden." weakLabel="Débil"
					strongLabel="Fuerte" goodLabel="Bueno"
					requiredMessage="Campo Contraseña Requerido" maxlength="20"></p:password>
				<p:message for="clave1" />

				<p:outputLabel for="clave2" value="Repetir Contraseña:"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:password id="clave2" required="true" class="form-control"
					requiredMessage="Campo de Confirmación Requerido"
					validatorMessage="Las Claves no Coinciden."></p:password>
				<p:message for="clave2" />

				<p:commandButton value="Registrar como Usuario"
					actionListener="#{usuarioBean.registrar()}" update=":t:tc"
					oncomplete="PF('dialogoRegistrar').hide();"
					class=" btn btn-flat btn-success form-control"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-user-plus" />
			</p:panelGrid>

		</h:form>
	</p:dialog>
</ui:composition>
</html>