<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->

	<p:dialog widgetVar="dialogoActualizar" id="DlgUpdate" modal="true"
		appendTo="@(body)" class="box box-info box-solid" responsive="true"
		hideEffect="clip" showEffect="Bounce" resizable="false"
		draggable="false">
		<h:form>
			<div>
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">¿
			Deas Configurar La Promoción ?</p>
			</div>
			<p:panelGrid columns="1" styleClass="ui-panelgrid-blank ui-fluid"
				layout="grid" width="100%"
				columnClasses="ui-g-12 ui-md-12,ui-g-12 ui-md-12">

				<p:outputLabel for="ccc" value="Promoción" />
				<p:inputText id="ccc" value="#{clienteBean.cliA.promocion}" />

				<p:commandButton value="Confirmar"
					actionListener="#{clienteBean.actualizar()}" icon="fa fa-sign-in"
					class="btn btn-info btn-flat form-control" update=":tt:Stc"
					oncomplete="PF('dialogoActualizar').hide();" />
			</p:panelGrid>


		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>