<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dialogoVer" id="DlgVer" modal="true"
		class="box box-default box-solid" appendTo="@(body)" responsive="true"
		hideEffect="clip" showEffect="Bounce" resizable="false"
		draggable="false">
		<h:form>
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">
			°°°°° Información <i class="fa  fa-eye"></i> de la Empresa °°°°°
			</p>
			</div>
			<h:panelGrid columns="1" styleClass="ui-panelgrid-blank ui-fluid"
				layout="grid" width="100%"
				columnClasses="ui-g-12 ui-md-12,ui-g-12 ui-md-12">

				<p:outputLabel for="as" value="@ E-MAIL: "
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:outputLabel id="as" value="#{clienteBean.cliA.correo}" />

				<p:outputLabel for="ra" value="Razon Social: "
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:outputLabel id="ra" value="#{clienteBean.cliA.razonSocial}" />

				<p:outputLabel for="ru" value="RUC: "
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:outputLabel id="ru" value="#{clienteBean.cliA.ruc}" />

			</h:panelGrid>
		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>