<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SistemaVentas2020">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="SistemaVentas2020"/>
        <property name="java-output-path" value="/SistemaVentas2020/build/classes"/>
    </wb-module>
</project-modules>
