<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="verProv" id="prove" modal="true"
		class="box box-info box-solid" responsive="true" width="85%"
		appendTo="@(body)" header="Proveedores del producto "
		hideEffect="clip" showEffect="Bounce" resizable="false"
		draggable="false" style="font-family: 'Fjalla One', sans-serif">
		<h:form id="ProvproForm">
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">Lista
			de Detalles de Proveedor</p>
			</div>
			<p:dataTable value="#{productoBean.seleccionarProv}" var="prov"
				id="TblProductoProveedor" style="font-size: 13px;padding-top :15px;"
				paginator="true" widgetVar="pr" reflow="true">
				<p:column headerText="RazSocial">
					<p:outputLabel value="#{prov.razonSocial}" />
				</p:column>

				<p:column headerText="RUC">
					<p:outputLabel value="#{prov.ruc}" />
				</p:column>

				<p:column headerText="Ciudad">
					<p:outputLabel value="#{prov.tblUbicacion.ciudad}" />
				</p:column>

				<p:column headerText="Direccion">
					<p:outputLabel value="#{prov.tblUbicacion.direccion}" />
				</p:column>

				<p:column headerText="Celular">
					<p:outputLabel value="#{prov.tblComunicacion.celular}" />
				</p:column>


				<p:column headerText="Telefono">
					<p:outputLabel value="#{prov.tblComunicacion.telefono}" />
				</p:column>



				<p:column headerText="E-Mail">
					<p:outputLabel value="#{prov.tblComunicacion.correo}" />
				</p:column>



			</p:dataTable>

		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>