<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dialogoActualizar" id="DlgUpdate"
		header="PROVEEDOR" height="420" appendTo="@(body)" modal="true"
		class="box box-danger box-solid" resizable="false" hideEffect="clip"
		showEffect="Bounce" responsive="true" draggable="false"
		style="font-family: 'Fjalla One', sans-serif; ">
		<h:form>
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">
			<b>¿ DESEAS ACTUALIZAR DATOS DEL PROVEEDOR ? </b>
			</p>
			</div>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12" width="100%">
				<p:outputLabel for="a" value="Razon Social"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="a" value="#{proveedorBean.proA.razonSocial}"
					maxlength="60" />

				<p:outputLabel for="b" value="R.U.C"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="b" value="#{proveedorBean.proA.ruc}"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="13" />

				<p:outputLabel for="c" value="Celular"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="c"
					value="#{proveedorBean.proA.tblComunicacion.celular}" maxlength="9"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:outputLabel for="d" value="Telefono"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="d"
					value="#{proveedorBean.proA.tblComunicacion.telefono}"
					maxlength="8"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:outputLabel for="e" value="Correo"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="e"
					value="#{proveedorBean.proA.tblComunicacion.correo}" maxlength="30" />

				<p:outputLabel for="f" value="Ciudad"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="f"
					value="#{proveedorBean.proA.tblUbicacion.ciudad}" maxlength="20" />

				<p:outputLabel for="g" value="Dirección"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="g"
					value="#{proveedorBean.proA.tblUbicacion.direccion}" maxlength="35" />

				<p:outputLabel for="h" value="Referencia"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="h"
					value="#{proveedorBean.proA.tblUbicacion.referencia}"
					maxlength="60" />


				<p:commandButton value="Actualizar Datos"
					actionListener="#{proveedorBean.actualizar()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-check" class="btn btn-danger btn-xs" update=":t:tp"
					oncomplete="PF('dialogoActualizar').hide();" />

			</p:panelGrid>

		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>