<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dlginfocontacto" id="dlinfo" modal="true"
		responsive="true" appendTo="@(body)" draggable="false"
		resizable="flase" hideEffect="clip" showEffect="Bounce"
		class="box box-success box-solid" header="InformaciÓn - Contacto"
		style="font-family: 'Fjalla One', sans-serif; ">

		<p:panelGrid columns="3">

			<i class="fa fa-phone"></i>
			<p:outputLabel value="Celular"
				style="font-weight:bold;font-size:17px; font-family: 'Fjalla One', sans-serif;" />
			<p:outputLabel value="#{proveedorBean.proA.tblComunicacion.celular}" />

			<i class="fa fa-tty"></i>
			<p:outputLabel value="Teléfono"
				style="font-weight:bold;font-size:17px; font-family: 'Fjalla One', sans-serif;" />
			<p:outputLabel value="#{proveedorBean.proA.tblComunicacion.telefono}" />


			<i class="fa fa-envelope"></i>
			<p:outputLabel value="E-Mail"
				style="font-weight:bold;font-size:17px; font-family: 'Fjalla One', sans-serif;" />
			<p:outputLabel value="#{proveedorBean.proA.tblComunicacion.correo}" />
		</p:panelGrid>

	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>