<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog header="Información - Ubicación"
		styleClass="box box-info box-solid" appendTo="@(body)"
		widgetVar="dialogoCOMU" id="DlgCOMU" modal="true" closeOnEscape="true"
		resizable="false" hideEffect="clip" showEffect="Bounce"
		draggable="false" responsive="true"
		style="font-family: 'Fjalla One', sans-serif; ">
		<h:form>
			<p:panelGrid columns="3" style="border:none;">

				<i class="fa fa-map-o"></i>
				<p:outputLabel for="ciu" value="Ciudad"
					style="font-weight:bold;font-size:17px; font-family: 'Fjalla One', sans-serif;" />
				<p:outputLabel id="ciu"
					value="#{proveedorBean.proA.tblUbicacion.ciudad}" />

				<i class="fa  fa-map"></i>
				<p:outputLabel for="dir" value="Dirección"
					style="font-weight:bold;font-size:17px; font-family: 'Fjalla One', sans-serif;" />
				<p:outputLabel id="dir"
					value="#{proveedorBean.proA.tblUbicacion.direccion}" />

				<i class="fa fa-check-circle"></i>
				<p:outputLabel for="refer" value="Referencia"
					style="font-weight:bold;font-size:17px; font-family: 'Fjalla One', sans-serif;" />
				<p:outputLabel id="refer"
					value="#{proveedorBean.proA.tblUbicacion.referencia}" />

			</p:panelGrid>
		</h:form>


	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>