<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="produ" id="tablaProd" modal="true"
		hideEffect="clip" showEffect="Bounce" width="90%" draggable="false"
		resizable="false" appendTo="@(body)" class="box box-success box-solid"
		responsive="true">


		<div style="padding-top: 20px; font-family: 'Fjalla One', sans-serif;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b>PRODUCTOS </b> - Ingresados
		</p>
		</div>
		</div>

		<h:form id="po">

			<div class="col-md-12 widget">
			<p:dataTable id="tblPro"
				value="#{entradaProductoBean.listaDetEntProSelec}" var="de"
				style="font-size: 13px;padding-top :15px;" paginator="true"
				paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">

				<p:column headerText="Codigo">
					<p:outputLabel value="#{de.tblProducto.codigoProducto}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Producto">
					<p:outputLabel
						value="#{de.tblProducto.nombre} / #{de.tblProducto.marca} / #{de.tblProducto.caracteristica}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Precio Venta">
					<p:outputLabel value="#{de.tblProducto.precioVenta}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Cantidad">
					<p:outputLabel value="#{de.cantidad}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Imagen">
					<center>
					<p:graphicImage value="#{metodoImagenBean.image}" width="80"
						height="80" cache="false">
						<f:param name="pid" value="#{de.tblProducto.idProducto}" />
					</p:graphicImage>
					</center>
				</p:column>

			</p:dataTable>
			</div>
		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>