<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->

	<p:dialog widgetVar="dialogoActualizar" id="DlgUpdate"
		position="center" modal="true" closable="true" closeOnEscape="true"
		hideEffect="clip" showEffect="Bounce" draggable="false"
		resizable="false" height="420" appendTo="@(body)"
		class="box box-danger box-solid" responsive="true">
		<h:form>
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">¿
			DESEAS ACTUALIZAR EL PRODUCTO ?</p>
			</div>
			<p:panelGrid columns="1" styleClass="ui-panelgrid-blank ui-fluid"
				layout="grid" width="100%"
				columnClasses="ui-g-12 ui-md-12,ui-g-12 ui-md-12">

				<p:outputLabel for="d" value="Cod. Producto"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:inputText id="d" value="#{productoBean.proA.codigoProducto}" />

				<p:outputLabel for="a" value="Nombre"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:inputText id="a" value="#{productoBean.proA.nombre}" />

				<p:outputLabel for="b" value="Marca"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:inputText id="b" value="#{productoBean.proA.marca}" />

				<p:outputLabel for="c" value="Caracteristica"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:inputText id="c" value="#{productoBean.proA.caracteristica}" />

				<p:outputLabel for="e" value="Precio Compra"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:inputText id="e" value="#{productoBean.proA.precioCompra}" />

				<p:outputLabel for="f" value="Precio Venta"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:inputText id="f" value="#{productoBean.proA.precioVenta}" />

				<p:outputLabel for="f" value="Buscar Proveedor Nombre"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:column>
					<p:autoComplete id="prod" value="#{productoBean.proA.tblProveedor}"
						completeMethod="#{productoBean.listaBuscar}" var="pro"
						itemLabel="#{pro.razonSocial} / #{pro.ruc}" itemValue="#{pro}"
						converter="proveedorConverter" multiple="true"
						onclick="this.value=''">
						<p:column style="width:100%">#{pro.razonSocial} - #{pro.ruc} </p:column>
					</p:autoComplete>
				</p:column>

				<p:outputLabel for="f" value="Buscae Categoria Nombe"
					style="font-family: 'Fjalla One', sans-serif;" />
				<p:column>
					<p:autoComplete id="cat" value="#{productoBean.proA.tblCategoria}"
						completeMethod="#{categoriaBean.listabucarC}" var="ca"
						itemLabel="#{ca.nombre}" itemValue="#{ca}"
						converter="categoriaConverter" onclick="this.value=''">
						<p:column style="width:100%">#{ca.nombre}</p:column>
					</p:autoComplete>
				</p:column>

				<p:commandButton value="Actualizar los Datos"
					actionListener="#{productoBean.actulizarProducto()}"
					icon="fa fa-check" class="btn btn-danger btn-xs" update=":t:tp,mes"
					oncomplete="PF('dialogoActualizar').hide();"
					onclick="setTimeout(function() { $('#mes').hide(1000); }, 3000);" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>