<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dialogoActualizar" header="Actualizar Categoria"
		appendTo="@(body)" id="actualizarCate"
		style="font-family: 'Fjalla One', sans-serif; " modal="true"
		draggable="false" resizable="false" hideEffect="clip"
		showEffect="Bounce" class="box box-danger box-solid" responsive="true">
		<h:form>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="c" value="Nombre"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="c" value="#{categoriaBean.catA.nombre}"
					style="font-family:sans-serif;" maxlength="25" />
				<p:commandButton value="Actualizar Categoria"
					actionListener="#{categoriaBean.actualizar()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-refresh" class="btn btn-danger btn-flat"
					update=":te:tc,messages"
					oncomplete="PF('dialogoActualizar').hide();"
					onclick="setTimeout(function() { $('#messages').hide(1000); }, 4000);" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>