<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dialogocate" id="cate"
		header="Detalles - Categoria" modal="true" draggable="false"
		width="100%" height="450" resizable="false" hideEffect="clip"
		showEffect="Bounce" class="box box-primary box-solid"
		responsive="true" style="font-family: 'Fjalla One', sans-serif; ">

		<div style="padding-top: 20px;">

		<div class="col-xs-12 col-sm-4 col-md-6 ">
		<p style="font-size: 23px;">
		<b>LISTA</b> de Categorias
		</p>
		</div>

		</div>
		<div class="panelbody">

		<h:form id="c">
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12">

				<p:inputText id="a" value="#{categoriaBean.catR.nombre}"
					placeholder="Ingrese Categoria" style="font-family:sans-serif;" />
				<p:commandButton value="Registrar la Categoria"
					actionListener="#{categoriaBean.registrar()}"
					update=":te:tc,c,messages" class="btn btn-flat btn-primary"
					style="border:none;font-family: 'Oswald', sans-serif;"
					onclick="setTimeout(function() { $('#messages').hide(1000); }, 3000);" />
			</p:panelGrid>
		</h:form>

		<div class="col-md-12 widget">
		<p:messages autoUpdate="false" id="messages" closable="true"
			escape="true" severity="error,info"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>

		<h:form id="te">
			<div class="col-md-12 widget">
			<p:dataTable id="tc" value="#{categoriaBean.listaCategoria}"
				var="cat" style="font-size: 13px;padding-top :15px;"
				paginator="true" paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">
				<p:column headerText="Nombre">
					<p:outputLabel value="#{cat.nombre}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column rendered="#{categoriaBean.accion}" width="5%">
					<p:commandLink
						style="text-decoration:none;border:none;font-family: 'Oswald', sans-serif;"
						title="Actualizar Datos de Categoria"
						class="btn btn-xs btn-flat btn-danger"
						oncomplete="PF('dialogoActualizar').show();"
						actionListener="#{categoriaBean.seleccionarCategoria(cat)}"
						update="actualizarCate">
						<span><i class="fa fa-pencil"></i></span>
					</p:commandLink>
				</p:column>
			</p:dataTable>
			</div>

		</h:form>
		</div>

	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>