/*
#1 = 35A49C
#2 = 79CDC0
*/
a {
	color: #222222;
}

a:hover {
	color: #222222;
}

/* menu */
.nav>li>a:hover {
	color: #222222;
}

.navbar .navbar-nav>.active>a {
	color: #222222;
}

/* flexslider */
.flex-control-paging li a {
	background: #222222;
}

.flex-direction-nav a:hover {
	background-color: #222222;
}

.testimonial span.author a {
	color: #222222;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #35A49C;
	box-shadow: 0 0 0 4px #222222;
}

.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #222222;
	box-shadow: 0 0 0 8px #222222;
}

/* portfolio */
.portfolio-item .portfolio-desc {
	background: #222222;
}

/* btn */
.btn-theme {
	background: #222222;
}

.btn-theme:hover, .btn-theme:focus, .btn-theme:active {
	background: #222222;
}

.btn-cta, .btn-cta.btn-lg {
	background: #222222;
	border-color: #222222;
}

.btn-cta:focus, .btn-cta:active {
	border-color: #222222;
}

/* contact */
.validation {
	color: red;
}

/* footer */
.social-circle li a {
	background: #222222;
}

a.scrollup {
	background: #222222;
}

#sendmessage {
	color: green;
}

#errormessage {
	color: red;
}