.navbar-collapse .dropdown .dropdown-menu {
	display: none;
}

.navbar-collapse .dropdown:hover .dropdown-menu {
	display: block;
}

/* UNO */
/*@media screen and (min-width: 767px){
			
		.peque{
		
			display: none; 
			
		}
		.grande{
		
			display: block; 
			
		}

}

/* DOS */
/*@media screen and (max-width: 767px){
	
		.grande{
		
			display: none; 
			
		}
		.peque{
		
			display: block; 
			
		}
}*/