<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>


	<style>
@media screen and (max-width: 768px ) {
  .modalResponsivo { width: 90% !important;} }

@media screen and (min-width: 1024px ) {
  .modalResponsivo { width: 60% !important; }
}

</style>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dialogoActualizar" id="DlgUpdate"
		header="¿ DESEAS ACTUALIZAR EL SERVICIO ?" appendTo="@(body)"
		modal="true" styleClass="modalResponsivo"
		style="font-family: 'Fjalla One', sans-serif;" resizable="false"
		draggable="false" hideEffect="clip" showEffect="Bounce"
		class="box box-default" responsive="true">
		<h:form>

			<p:panelGrid columns="2" styleClass="ui-panelgrid-blank ui-fluid"
				layout="grid" width="100%"
				columnClasses="ui-g-12 ui-md-12,ui-g-12 ui-md-12">

				<p:outputLabel for="a" value="Nombre" />
				<p:inputText id="a" value="#{serviciosBean.serA.nombre}"
					maxlength="30" />

			</p:panelGrid>
			<p:commandButton value="Actualizar"
				actionListener="#{serviciosBean.actualizar()}" icon="ui-icon-disk"
				class=" btn btn-flat btn-default form-control"
				update=":t:tc,messages" oncomplete="PF('dialogoActualizar').hide();"
				onclick="setTimeout(function() { $('#messages').hide(1000); }, 3000);" />

		</h:form>
	</p:dialog>

	<!-- /FIN -->


</ui:composition>
</html>