<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->

	<p:dialog widgetVar="clien" id="tablaCli"
		header="Verificacion del Cliente" modal="true" closable="false"
		hideEffect="explode" showEffect="explode"
		style="font-family: 'Fjalla One', sans-serif; "
		class="box box-warning box-solid" width="60%" height="50%"
		responsive="true" resizable="false" draggable="false">
		<h:form>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1">
				<f:facet name="header">
					<p:outputLabel value="¿ Es el Cliente ? " />
				</f:facet>
				<p:column>
					<center>
					<p:outputLabel
						value="#{servicioBean.serA.tblCliente.nombres} #{servicioBean.serA.tblCliente.apellidoPaterno} #{servicioBean.serA.tblCliente.apellidoMaterno}"
						style="border:none;font-family: 'Oswald', sans-serif;" />
					</center>
				</p:column>
			</p:panelGrid>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="2">
				<p:commandButton value="Si" onclick="PF('clli').show();"
					actionListener="#{servicioBean.seleccionar()}"
					class="btn btn-primary btn-sm" icon="fa fa-check"
					style="border:none;font-family: 'Oswald', sans-serif;" />
				<p:commandButton value="No" onclick="PF('clien').hide();"
					class="btn btn-danger btn-sm" icon="fa fa-fw fa-remove"
					style="border:none;font-family: 'Oswald', sans-serif;" />
			</p:panelGrid>

			<p:separator />


		</h:form>

	</p:dialog>
	<p:dialog widgetVar="clli" id="mmz" header="Escoger un Cliente"
		modal="false" closable="false" hideEffect="explode"
		showEffect="explode" style="font-family: 'Fjalla One', sans-serif; "
		width="70%" class="box box-danger box-solid" responsive="true"
		resizable="false" draggable="false">
		<h:form>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1">
				<p:column>
					<p:autoComplete id="cli" value="#{servicioBean.serA.tblCliente}"
						completeMethod="#{clienteBean.listaBuscar}" var="cli"
						itemLabel="#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} / #{cli.dni}"
						itemValue="#{cli}" converter="clienteConverter"
						placeholder="Buscar cliente 'nombre' " onclick="this.value=''">
						<p:column style="width:0%">
							#{cli.nombres} #{cli.apellidoPaterno} #{cli.apellidoMaterno} / #{cli.dni}
							</p:column>
					</p:autoComplete>
				</p:column>
			</p:panelGrid>

			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="2">
				<p:commandButton value="Actualizar"
					actionListener="#{servicioBean.actualizarClienteServicio()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-refresh" class="btn  btn-danger"
					update=":entpro:trablaent"
					oncomplete="PF('clien').hide();PF('clli').hide();" />
				<p:commandButton value="No" update=":entpro:trablaent"
					actionListener="#{servicioBean.actualizarClienteServicio()}"
					onclick="PF('clien').hide();PF('clli').hide();"
					style="border:none;font-family: 'Oswald', sans-serif;"
					class="btn btn-danger" icon="fa fa-fw fa-remove" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<!-- /FIN -->



</ui:composition>
</html>