<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="productos" header="Info Servicio" id="DlgUpdate"
		modal="true" appendTo="@(body)" draggable="false"
		style="font-family: 'Fjalla One', sans-serif; " resizable="false"
		hideEffect="clip" showEffect="Bounce" class="box box-info box-solid"
		responsive="true">
		<h:form id="pro">
			<div class="col-md-12 widget">
			<p:dataTable id="tblPro" value="#{servicioBean.listaDetSerSelec}"
				var="dev" style="font-size: 13px;padding-top :15px;"
				paginator="true" paginatorPosition="top" rows="8" widgetVar="pr"
				rowsPerPageTemplate="2,8,10,15" reflow="true">
				<p:column headerText="Servicio">
					<p:outputLabel value="#{dev.tblServicios.nombre}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Precio Servicio">
					<p:outputLabel value="#{dev.precioServicio}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Cantidad">
					<p:outputLabel value="#{dev.cantidad}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>
			</p:dataTable>

			</div>
		</h:form>
	</p:dialog>

	<!-- /FIN -->



</ui:composition>
</html>