<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->

	<h:form id="eliminarven">
		<p:dialog id="dialogovent" widgetVar="dialogoEliminarvent"
			resizable="false" showEffect="explode" hideEffect="explode"
			modal="true" draggable="false" width="70%"
			style="font-family: 'Fjalla One', sans-serif; "
			class="box box-danger box-solid" responsive="true">
			<f:facet name="header">
				<h:outputText value="¿Desea eliminar?" />
			</f:facet>
			<h:inputHidden value="#{servicioBean.ser.idServicio}" />
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="2">
				<p:commandButton value="Si"
					actionListener="#{servicioBean.eliminar()}"
					update=":entpro:trablaent"
					oncomplete="PF('dialogoEliminarvent').hide();" icon="fa fa-check"
					class="btn btn-danger btn-lg" />

				<p:commandButton value="No"
					onclick="PF('dialogoEliminarvent').hide();"
					icon="fa fa-fw fa-remove" class="btn btn-warning btn-lg" />
			</p:panelGrid>
		</p:dialog>
	</h:form>


	<!-- /FIN -->



</ui:composition>
</html>