<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:messages id="xx" autoUpdate="false" closable="true"></p:messages>
	<p:dialog widgetVar="produ" id="tablaProd"
		header="Info - Servicios Realizados" modal="true" appendTo="@(body)"
		draggable="false" width="80%"
		style="font-family: 'Fjalla One', sans-serif; " resizable="false"
		hideEffect="clip" showEffect="Bounce"
		class="box box-success box-solid" responsive="true">
		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px;">
		<b>DETALLE </b> del Servicios
		</p>
		</div>
		</div>

		<h:form id="po">
			<div class="col-md-12 widget">
			<p:dataTable id="tblPro" value="#{servicioBean.listaDetSerSelec}"
				var="des" style="font-size: 13px;padding-top :15px;" reflow="true">

				<p:column headerText="Servicio">
					<p:outputLabel value="#{des.tblServicios.nombre}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Detalle">
					<p:outputLabel value="#{des.caracteristica}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Precio">
					<p:outputLabel value="#{des.precioServicio}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Cantidad">
					<p:outputLabel value="#{des.cantidad}"
						style="font-family: 'Anaheim', sans-serif;" />
				</p:column>

				<p:column headerText="Eliminar">
					<p:commandButton value="Eliminar"
						actionListener="#{servicioBean.seleccionarDetalle(des)}"
						update="see" oncomplete="PF('diaSer').show();" />
				</p:column>

				<p:column headerText="Total">
					<center> ↓ </center>
				</p:column>

				<p:columnGroup type="footer">
					<p:row>
						<p:column colspan="4" style="text-align:center"
							footerText="Moto Servicios Raúl" />
						<p:column style="text-align:center"
							footerText="S/. #{servicioBean.listaDetSerSelec.iterator().next().tblServicio.total}"
							width="60%" />
					</p:row>
				</p:columnGroup>
			</p:dataTable>
			</div>
		</h:form>

		<p:dialog id="see" widgetVar="diaSer">
			<p:outputLabel value="#{servicioBean.detSerE.tblServicios.nombre}" />
			<p:commandButton value="Si"
				actionListener="#{servicioBean.eliminarDetalle()}"
				update=":po:tblPro,xx" onclick="PF('diaSer').hide();" />

			<p:commandButton value="No" onclick="PF('diaSer').hide();" />
		</p:dialog>
	</p:dialog>





	<!-- /FIN -->



</ui:composition>
</html>