<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<!-- DIAGO ******************************************************************************************************** -->
	<p:dialog widgetVar="dialogoActualizar" height="420" appendTo="@(body)"
		id="actualizarCli" header="Actualizar" modal="true" resizable="false"
		hideEffect="clip" showEffect="Bounce" responsive="true"
		draggable="false" class="box  box-danger box-solid"
		style="font-family: 'Fjalla One', sans-serif; ">
		<div style="padding-top: 20px;">
		<div class="col-md-12">
		<p style="font-size: 23px; font-family: 'Fjalla One', sans-serif;">
		<b>¿DESEA ACTUALIZAR DATOS?</b> Cliente
		</p>
		</div>
		</div>

		<h:form>

			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12">

				<p:outputLabel for="cod" value="Codigo"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="cod" value="#{clienteBean.cliA.codigo}"
					style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="5" />

				<p:outputLabel for="a" value="Nombres"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="a" value="#{clienteBean.cliA.nombres}"
					style="font-family:sans-serif;" maxlength="30" />

				<p:outputLabel for="b" value="Apellido Paterno"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="b" value="#{clienteBean.cliA.apellidoPaterno}"
					style="font-family:sans-serif;" maxlength="20" />

				<p:outputLabel for="c" value="Apellido Materno"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="c" value="#{clienteBean.cliA.apellidoMaterno}"
					style="font-family:sans-serif;" maxlength="20" />

				<p:outputLabel for="d" value="DNI"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="d" value="#{clienteBean.cliA.dni}"
					style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="8" />

				<p:outputLabel for="pla" value="Placa"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="pla" value="#{clienteBean.cliA.placa}"
					style="font-family:sans-serif;" maxlength="8" />

				<p:outputLabel for="r" value="RUC"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="r" value="#{clienteBean.cliA.ruc}"
					style="font-family:sans-serif;"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="13" />

				<p:outputLabel for="ra" value="Razon Social"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="ra" value="#{clienteBean.cliA.razonSocial}"
					style="font-family:sans-serif;" maxlength="60" />

				<p:outputLabel for="co" value="Correo"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="co" value="#{clienteBean.cliA.correo}"
					style="font-family:sans-serif;" maxlength="40" />

				<p:commandButton value="Actualizar Datos"
					actionListener="#{clienteBean.actualizarP()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-refresh" class="btn  btn-danger" update=":t:tc,mes"
					oncomplete="PF('dialogoActualizar').hide();" />
			</p:panelGrid>
		</h:form>
		<div class="col-md-12 ">
		<p:messages autoUpdate="false" id="mee" closable="true" escape="true"
			style="font-family: 'Open Sans Condensed', sans-serif;color:#222222; border:none" />
		</div>
	</p:dialog>

	<!-- GIL -->
</ui:composition>
</html>