<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>

	<!-- DIAGO *********************************************************** -->
	<p:dialog widgetVar="dialogoActualizar" id="DlgUpdate" height="450"
		appendTo="@(body)" modal="true" draggable="false" resizable="false"
		hideEffect="clip" showEffect="Bounce" class="box box-danger box-solid"
		responsive="true" style="font-family: 'Fjalla One', sans-serif; ">
		<h:form>
			<div align="center">
			<p style="font-family: 'Fjalla One', sans-serif; font-size: 18px;">¿
			DESEA ACTUALIZAR LOS DATOS DEL EMPLEADO ?</p>
			</div>
			<p:panelGrid styleClass="ui-panelgrid-blank ui-fluid" layout="grid"
				columns="1" columnClasses="ui-grid-col-12" width="100%">

				<p:outputLabel for="a" value="Nombres"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="a" value="#{empleadoBean.empA.tblDatos.nombres}"
					maxlength="30" />

				<p:outputLabel for="b" value="Apellido Paterno"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="b"
					value="#{empleadoBean.empA.tblDatos.apellidoPaterno}"
					maxlength="20" />

				<p:outputLabel for="c" value="Apellido Materno"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="c"
					value="#{empleadoBean.empA.tblDatos.apellidoMaterno}"
					maxlength="20" />

				<p:outputLabel for="d" value="DNI"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="d" value="#{empleadoBean.empA.dniEmpleado}"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
					maxlength="8" />

				<p:outputLabel for="e" value="Ciudad"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="e" value="#{empleadoBean.empA.tblUbicacion.ciudad}"
					maxlength="20" />

				<p:outputLabel for="f" value="Direccion"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="f"
					value="#{empleadoBean.empA.tblUbicacion.direccion}" maxlength="35" />

				<p:outputLabel for="g" value="Referencia"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="g"
					value="#{empleadoBean.empA.tblUbicacion.referencia}" maxlength="60" />

				<p:outputLabel for="h" value="Celular"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="h"
					value="#{empleadoBean.empA.tblComunicacion.celular}" maxlength="9"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:outputLabel for="i" value="Telefono"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="i"
					value="#{empleadoBean.empA.tblComunicacion.telefono}" maxlength="7"
					onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));" />

				<p:outputLabel for="j" value="Email"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:inputText id="j"
					value="#{empleadoBean.empA.tblComunicacion.correo}" maxlength="30" />

				<p:outputLabel for="fec" value="Fecha Nacimiento:"
					style="font-family: 'Fjalla One', sans-serif; " />
				<p:calendar id="fec"
					value="#{empleadoBean.empA.tblDatos.fechaNacimiento}"
					navigator="true" locale="es" mode="popup" showOn="button"
					popupIconOnly="true" pattern="dd/MM/yyyy"
					mindate="#{empleadoBean.getMaxAge()}"
					maxdate="#{empleadoBean.getMinAge() }" readonlyInput="true" />

				<p:outputLabel for="fec" value="Cargo:"
					style="font-family: 'Fjalla One', sans-serif; " />

				<p:column>
					<p:autoComplete id="cat" value="#{empleadoBean.empA.tblCargo}"
						completeMethod="#{cargoBean.listaBuscarCar}" var="ca"
						itemLabel="#{ca.nombre}" itemValue="#{ca}"
						converter="cargoConverter" placeholder="Buscar Cargo 'Nombre' "
						onclick="this.value=''" required="true"
						requiredMessage="Cargo Necesario" dropdown="true">
						<p:column style="width:80%">#{ca.nombre}</p:column>
					</p:autoComplete>
				</p:column>

				<p:commandButton value="Actualizar Datos"
					actionListener="#{empleadoBean.Actualizar()}"
					style="border:none;font-family: 'Oswald', sans-serif;"
					icon="fa fa-refresh" class="btn btn-danger  btn-xs"
					update=":t:te,messages"
					oncomplete="PF('dialogoActualizar').hide();"
					onclick="setTimeout(function() { $('#messages').hide(1000); }, 3000);" />
			</p:panelGrid>

		</h:form>
	</p:dialog>
	<!-- /FIN -->

</ui:composition>
</html>